<%= form_tag examination_questions_path(@exam, :type => @question_type), :method => :post, :html => {:class => 'form-horizontal '} do %>
    <p>题目：<%= text_field_tag "question[title]", @question.title%> </p>
    <table class="table responsive">
      <tr>
        <td >
          <p>A：<%= text_field_tag "options[A]", nil%> </p>
        </td>
      </tr>
      <tr>
        <td >
          <p>B：<%= text_field_tag "options[B]", "" %></p>
        </td>
      </tr>
      <tr>
        <td >
          <p>C：<%= text_field_tag "options[C]", "" %></p>
        </td>
      </tr>
      <tr>
        <td >
          <p>D：<%= text_field_tag "options[D]", "" %></p>
        </td>
      </tr>
  </table>
  <p>答案：<%= select_tag "question[answer]", options_for_select(["A", "B","C","D"], "A") %> </p>
  <p><%=submit_tag  "完成",  :class => "btn-primary" %></p>
<% end %>