<%= simple_form_for [@exam, @question],:url => examination_questions_path(@exam, :type => @question_type), :method => :post, :html => {:class => 'form-horizontal '} do |f| %>
  <%= f.input :title, label: "题目"%>
  <div class="form-actions">
    <%= f.label :answer, "正确答案:" %>
    <%= f.collection_radio_buttons :answer,  [["true", "正确"], ["false", "错误"]], :first, :last%>
  </div>
  <div class="form-actions">
    <%= f.button :submit, '完成', :class => "btn-primary"  %>
  </div>
<% end %>