<% provide(:title, "修改考题信息") %>
<% provide(:page_title, "修改考题信息") %>
<% provide(:page_sub_title, "修改考题信息") %>
<% provide(:page_icon, "iconfa-edit") %>

<% content_for :breadcrumbs do %>
<li><%= link_to "考试管理", examinations_path %> <span class="separator"></span></li>
<li><%= link_to @exam.title, examination_path(@exam) %> <span class="separator"></span></li>
<%= content_tag(:li, "修改考题信息") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h4 class="widgettitle">修改考题信息</h4>
    <div class="widgetcontent">
      <div class="divider15"></div>
        <% if judge_type(@question_type) %>
          <%= render :partial => "#{@question_type}"  %>
        <% else %>
          <%= render :partial => "question_new" %>
        <% end %>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
    
  </div>
</div>