<% provide(:title, "添加新考题") %>
<% provide(:page_title, "添加新考题") %>
<% provide(:page_sub_title, "添加新考题") %>
<% provide(:page_icon, "iconfa-edit") %>

<% content_for :breadcrumbs do %>
<li><%= link_to "考试管理", examinations_path %> <span class="separator"></span></li>
<li><%= link_to @exam.title, examination_path(@exam) %> <span class="separator"></span></li>
<%= content_tag(:li, "添加新考题") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h4 class="widgettitle">添加新考题</h4>
    <div class="widgetcontent">
      <div class="divider15"></div>
      <%= simple_form_for [@exam, @question], :html => {:class => 'form-horizontal'} do |f| %>
        <%= f.collection_select :question_type_str, [[:choice, "选择题"], [:judgement, "判断题"], [:dialogical, "简答题"]], :first, :last%>
        <%= f.input :qdata, :as => :text, :label => "考试标题：", :hint => "支持markdown格式标记", :input_html => { :class => "span5", :cols => 50, :rows => 8 } %>
        <%= f.input :answer, :label => "正确答案：", :input_html => { :class => "span5" } %>
        <div class="form-actions">
        <%= f.button :submit, '创建新考题', :class => "btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
    
  </div>
</div>