<% content_for :javascript do %>
<script type="text/javascript">
function show_view(comment_id) {
  var dispmode = document.getElementById('light_' + comment_id).style.display
  document.getElementById('light_' + comment_id).style.display = (dispmode == 'block') ? 'none' : 'block'
}
</script>
<% end %>

<ul class='course-comments-list'>
  <% commentable.comments.each do |comment| %>
  <% if (comment.repcomment_id.nil?) %>
    <li>
      <div class='course-comment-form'>
        <%= image_tag user_avatar_path(comment.user, :small) %>
        <div class="awswer-header">
          <%= link_to comment.user.name, user_path(comment.user.id) %> &#124; 
          <span><i class="iconfa-time"></i> 发布于<%= distance_of_time_in_words_to_now(comment.created_at) %>前</span>
          <span class="pull-right"><%= link_to_function "评论", "show_view('#{comment.id}')" %>&#124;<i class="iconfa-thumbs-up"></i> 0</span>
        </div
        <p><%= comment.content %><p>  
        <% unless current_user.admin? %>
        <div id="light_<%= comment.id.to_s%>" class="well quest-input " style="display:none">
          <%= simple_form_for Comment.new do |f| %>
          <%= f.input :content, :as => :text, :input_html => {:rows => 4, :cols => 25}, :placeholder => "评论...", :label => false %>
          <%= f.hidden_field :commentable_type, :value => commentable.class.name.demodulize %>
          <%= f.hidden_field :commentable_id, :value => commentable.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :repcomment_id, :value => comment.id %>
          <%= f.submit '发表回复', :class => 'btn btn-primary' %>
          <% end %>
      </div>
      <% end %>
    </div>
    </li>
  <% end %>
  <% if comment.replies.size != 0 %>
    <% comment.replies.each do |reply| %>
      <li>
        <div class='course-comment-form'>
          <%= image_tag user_avatar_path(reply.user, :small) %>
          <div class="awswer-header"><%= link_to reply.user.name, user_path(reply.user.id) %> &#124; <span><i class="iconfa-time"></i> 发布于<%= distance_of_time_in_words_to_now(reply.created_at) %>前</span><span class="pull-right"><i class="iconfa-thumbs-up"></i> 0</span></div>
          <p><%= link_to reply.user.name, user_path(reply.user.id)%>回复<%= link_to comment.user.name, user_path(reply.user.id) %>：<%= reply.content %></p> 
        </div>
      </li>
    <% end %>
  <% end %>
  <% end %>
 
