<% provide(:title, "考试详情") %>
<% provide(:page_title, "考试详情") %>
<% provide(:page_sub_title, "查看、编辑考试试题") %>
<% provide(:page_icon, "iconfa-info-sign") %>

<% content_for :breadcrumbs do %>
<li><%= link_to "考试管理", examinations_path %> <span class="separator"></span></li>
<%= content_tag(:li, "考试详情") %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
function show_answere(question_id) {
  var dispmode = document.getElementById('light_' + question_id).style.display
  document.getElementById('light_' + question_id).style.display = (dispmode == 'block') ? 'none' : 'block'
}
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <%= form_tag examination_exam_feedbacks_path(@exam) do %>
    <h4 class="widgettitle"><%= @exam.title %>（选择题:<%=@exam.get_choice_question.size %>  判断题:<%= @exam.get_judgement_question.size %>  问答题:<%= @exam.get_dialogical_question.size %>）</h4>
    <% if @exam.questions.size > 0 %>
    <div class="widgetcontent nopadding">
      <ul class='exam-feedback-question-list'>
        <li class='question-type'><h5>选择题</h5></li>
        <% @exam.get_choice_question.each_with_index do |question, index| %>
        <li class="question-details">
          <h6><%= (index+1).to_s + '. ' + question.title %></h6>
          <% question.options.each_with_index do |op, index| %>
          <span class='options'><%= radio_button_tag "answer[choice_#{question.id.to_s}]", "#{index}" %>  <%= op.content %></span> <br/>
          <% end %>
        </li>
        <% end %>

        <li class='question-type'><h5>判断题</h5></li>
        <% @exam.get_judgement_question.each_with_index do |question, index| %>
        <li class="question-details">
          <h6><%= (index+1).to_s + '. ' + question.title %></h6>
          <span class='options'><%= radio_button_tag "answer[judgement_#{question.id.to_s}]", "true" %> 正确</span> <br/>
          <span class='options'><%= radio_button_tag "answer[judgement_#{question.id.to_s}]", "false" %> 错误</span> <br/> 
        </li>      
        <% end %>

        <li class='question-type'><h5>问答题</h5></li>
        <% @exam.get_dialogical_question.each_with_index do |question, index| %>
        <li class="question-details">
          <h6><%= (index+1).to_s + '. ' + question.title %></h6>
          <%= text_area_tag "answer[dialogical_#{question.id.to_s}]", nil, :placeholder => "请作答...", :rows => 4, :cols => 80 %>
        </li>      
        <% end %>
      </ul>
    </div>
    <% else %>
    <div class="widgetcontent">
      目前还没有添加任何考题
    </div>
    <% end %>
  <% end %>
  </div>

  <div id="dashboard-right" class="span4">
    <div class='well'>
      <%=submit_tag  "提交试卷",  :class => "btn btn-warning" %>
    </div>
  </div>
</div>
