<% provide(:title, @topic.title) %>
<% provide(:page_title, @topic.title) %>
<% provide(:page_sub_title, "问题详情") %>
<% provide(:page_icon, "iconfa-info-sign") %>

<% content_for :breadcrumbs do %>
<li><%= link_to current_user.admin? ? "社区管理" : "知识中心", knowledge_path %> <span class="separator"></span></li>
<%= content_tag(:li, @topic.title ) %>
<% end %>



<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <div class="well quest-details">
      <h3> <%= @topic.title %></h3>
      <div class="quest-info">
        <%= link_to @topic.user.name, user_path(@topic.user.id) %>  &#124;
        <span class="quest-tags">
        <i class="iconfa-tags"></i>
        <span class="label label-info">投诉</span>
        <span class="label label-info">处理</span>
        </span>
        <span class="pull-right"><i class="iconfa-time"></i> <%= distance_of_time_in_words_to_now(@topic.created_at) + t("course.all.ago") %> </span>
      </div>
      <p> <%= @topic.content %> </p>
    </div>
    <% unless current_user.admin? %>
      <%= render :partial =>  "comments/new_comment", :locals => {:commentable =>  @topic}%>
    <% end %>
    <div class="well quest-answer-list">
    <% if @comments.size == 0 %>
      <div class="nopadding">
        <div class="answer-sammary"> <h4>当前还没有人回复主题 </h4></div>
      </div>
    <% else %>
      <div class="answer-sammary"><h4><%= @comments.size %>条回答</h4></div>
      <ul>
         <%= render :partial =>  "comments/show_comments", :locals => {:commentable => @topic}%>
      </ul>
    <% end %>
    </div>

  </div>
  <div id="dashboard-right" class="span4">
    <div class="well">
      没有相关问题
    </div>
  </div>
</div>

