<% provide(:title, @topic.title) %>
<% provide(:page_title, @topic.title) %>
<% provide(:page_sub_title, "问题详情") %>
<% provide(:page_icon, "iconfa-info-sign") %>

<% content_for :breadcrumbs do %>
<li><%= link_to current_user.admin? ? "社区管理" : "知识中心", knowledge_path %> <span class="separator"></span></li>
<%= content_tag(:li, @topic.title ) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">

</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <div class="well quest-details">
      <h3> <%= @topic.title %></h3>
      <div class="quest-info">
        <%= link_to @topic.user.name, user_path(@topic.user.id) %>  &#124;
        <span class="quest-tags">
        <i class="iconfa-tags"></i>
        <span class="label label-info">投诉</span>
        <span class="label label-info">处理</span>
        </span>
        <span class="pull-right"><i class="iconfa-time"></i> <%= distance_of_time_in_words_to_now(@topic.created_at) + t("course.all.ago") %> </span>
      </div>
      <p> <%= @topic.content %> </p>
    </div>
    <% unless current_user.admin? %>
    <div class="well quest-input">
      <%= form_tag  comments_path(:user_id => current_user.id, :topic_id => @topic.id) do %>
      <%= text_area_tag "content", nil, :rows => 4, :cols => 25, :placeholder => "提问者正期待您的回答..." %>
      <div>
        <%= submit_tag  "提交回答",  :class => "btn btn-primary"  %>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="well quest-answer-list">
    <% if @comments.size == 0 %>
      <div class="nopadding">
        <div class="answer-sammary"> <h4>当前还没有人回复主题 </h4></div>
      </div> 
    <% else %>
      
        <div class="answer-sammary"><h4><%= @comments.size %>条回答</h4></div>
        <ul>
          <% @comments.each do | comment | %>
          <% if ((comment.repcomment != nil) || (1073741823 == comment.repcomment_id)) %>
            <li> 
              <div class="awswer-header"><%= link_to comment.user.name, user_path(comment.user.id) %> &#124; <span><i class="iconfa-time"></i> 发布于<%= distance_of_time_in_words_to_now(comment.created_at) %>前</span><span class="pull-right"><%= link_to "评论", "#" %>&#124;<i class="iconfa-thumbs-up"></i> 0</span></div>
              <p><%= comment.content %></p>
              <% unless current_user.admin? %>
              <div class="well quest-input " style="display:none">
                <%= form_tag  comments_path(:user_id => current_user.id, :topic_id => @topic.id, :repcomment_id => comment.id) do %>
                <%= text_area_tag "content", nil, :rows => 4, :cols => 25, :placeholder => "提问者正期待您的回答..." %>
                <div>
                  <%= submit_tag  "提交回答",  :class => "btn btn-primary"  %>
                </div>
                <% end %>
              </div>
              <% end %>
            </li>
          <% end %>
          <% if comment.replies.size != 0 %>
            <% comment.replies.each do |reply| %>
              <li>
                <div class="awswer-header"><%= link_to reply.user.name, user_path(reply.user.id) %> &#124; <span><i class="iconfa-time"></i> 发布于<%= distance_of_time_in_words_to_now(reply.created_at) %>前</span><span class="pull-right"><i class="iconfa-thumbs-up"></i> 0</span></div>
                <p><%= link_to reply.user.name, user_path(reply.user.id)%>回复<%= link_to comment.user.name, user_path(reply.user.id) %>：<%= reply.content %></p>
              </li>
            <% end %>
          <% end %>
          <% end %>
        </ul>
    
    <% end %>
    </div>

  </div>
  <div id="dashboard-right" class="span4">
    <h3 class="subtitle">相关问题</h3>
    <div class="divider15"></div>
    <div class="well">
      没有相关问题
    </div>
  </div>
</div>

