<% provide(:title, t("menu.user.home_title")) %>
<% provide(:page_title, t("menu.user.home_title")) %>
<% provide(:page_sub_title, t("menu.user.home_title")) %>
<% provide(:page_icon, "iconfa-home") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, t("menu.user.home_title")) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    $('#datepicker').datepicker();
    
    $('.accordion').accordion({
        collapsible: true,
        active: false,
        heightStyle: "content",
        header: ".a-header"
    });
  });
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
                        
    <h3 class="subtitle"><%= t("dashboard.competency.title") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><span class="iconfa-signal"></span> 我的胜任力</h4>
    <div class="widgetcontent nopadding">
      <div class="accordion">
        <% current_user.position.competency_levels.each do |cl| %>
        <div class="a-header">
          <a href="#"><%= cl.competency.name + "（" + level_name(cl.level) + "）" %></a>
        </div>
        <div class="a-content">
          <div class="competency-level-details">
            <%= content_tag(:h6, "级别描述：" + cl.description) %>
            <ul id="cl-requirements">
            <% cl.competency_level_requirements.each do |clr| %>
            <%= content_tag(:li, clr.description) %>
            <% end %>
            </ul>
            <div class="divider15"></div>
            <%= content_tag(:h6, "相关课程（" + cl.courses.size.to_s + "）：") %>
            <ul id="cl-courses">
              <% cl.courses.each do |course| %>
              <li>
                <div class="cl-course-banner">
                  <%= link_to image_tag(course_cover_path(course, :small)), course_path(course), {:title => "#{course.title}"} %>
                  <%= link_to course.title, course_path(course) %>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      </div><!--#accordion-->
    </div><!--widgetcontent-->
                        
    <div class="divider15"></div>

    <h4 class="widgettitle"><span class="iconfa-tasks icon-white"></span><%= t("course.all.sub_title2") %><span class="pull-right"><%= link_to "see all &#8594;".html_safe, user_courses_path(current_user) %></span></h4>
    
    <% if @pending_courses.size == 0 %>
    <div class="widgetcontent">
      <p>No user setup yet. please setup it first. </p>
    </div>
    <% else %>
    <div class="widgetcontent nopadding">
      <ul class="courselist">
        <% @pending_courses.each do |c| %>
        <li>
          <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
          <div class="course-info">
            <h4><%= link_to c.title, course_path(c) %></h4>
            <h6><%= link_to c.teacher.name, user_path(c.teacher) %> <%= t("course.all.create") %> <%= distance_of_time_in_words_to_now(c.created_at) + t("course.all.ago") %></h6>
            <p><%= Sanitize.clean(eo_markdown(c.description)) unless c.description.blank? %></p>
            <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span><%= t("course.all.details") %></a>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="divider30"></div>
                        
  </div><!--span8-->
                    
  <div id="dashboard-right" class="span4">
                        
    <h5 class="subtitle"><%= t("menu.user.announcements") %></h5>
    
    <div class="divider15"></div>
    
    <div class="alert alert-block">
      <button data-dismiss="alert" class="close" type="button">&times;</button>
      <h4>系统提示：</h4>
      <p style="margin: 8px 0">系统的部分功能还未完全部署，目前仅供内部封闭测试使用。</p>
    </div><!--alert-->
    <div class="divider15"></div>
                        
                        
    <h4 class="widgettitle"><%= t("dashboard.calender.title") %></h4>
    <div class="widgetcontent nopadding">
        <div id="datepicker"></div>
    </div>
                        
    <div class="divider30"></div>                      
  </div><!--span4-->
</div> <!--row-fluid-->