<% provide(:title, t("menu.user.home_title")) %>
<% provide(:page_title, t("menu.user.home_title")) %>
<% provide(:page_sub_title, t("menu.user.home_title")) %>
<% provide(:page_icon, "iconfa-home") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, t("menu.user.home_title")) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    $('#datepicker').datepicker();
    
    $('.accordion').accordion({
        heightStyle: "content",
        header: ".a-header"
    });
  });
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <% if current_user.notifications.count > 0 %>
    <div class="alert alert-info alert-block">
      <button data-dismiss="alert" class="close" type="button">&times;</button>
      <h4>最新消息：</h4>
      <ul class='notificaiton-list'>
        <% current_user.notifications.each do |n| %>
        <li><%= link_to notice_description(n), notice_url(n) %></li>
        <% end %>
      </ul>
    </div><!--notifications-->
    <div class="divider15"></div>
    <% end %>

    <% if current_user.pending_todos.count > 0 %>
    <h4 class="widgettitle"><span class="iconfa-check"></span> 待办事项（<%= current_user.pending_todos.count %>）</h4>
    <div class="widgetcontent nopadding">
      <ul class="user-todo-list">
        <% current_user.pending_todos.each do |todo| %>
        <li>
          <%= todo_description(todo) %><span class='todo-action'><%= link_to "点击处理", todo_url(todo), :class => 'btn btn-primary btn-small' %></span>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="divider15"></div>
    <% end %>

    <h4 class="widgettitle"><span class="iconfa-signal"></span> 我的培训计划</h4>
    <% if current_user.active_training_plans.count %>
    <div class="widgetcontent nopadding">
    <ul class='active-training-list'>
      <% current_user.active_training_plans.each do |tp| %>
      <li class='training-plan-title'>
        <%= tp.title %>
      </li>
        <% tp.course_for_user(current_user).each do |c| %>
        <li class='training-user-course'>
          <%= link_to c.title, course_path(c) %>
          <span class='course-state'><%= user_course_state(c) %>
        </li>
        <% end %>
      <% end %>
    </ul>
    </div>
    <% else %>
    <div class="widgetcontent">
      目前没有未完成的培训计划
    </div>
    <% end %>
    <div class="divider15"></div>
    

    <h3 class="subtitle"><%= t("dashboard.competency.title") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><span class="iconfa-signal"></span> 我的胜任力</h4>
    <div class="widgetcontent nopadding">
      <div class="accordion">
        <% current_user.position.competency_levels.each do |cl| %>
        <div class="a-header">
          <a href="#"><%= cl.competency.name + "（" + level_name(cl.level) + "）" %></a>
        </div>
        <div class="a-content">
          <div class="competency-level-details">
            <%= content_tag(:h6, "级别描述：" + cl.description) %>
            <ul id="cl-requirements">
            <% cl.competency_level_requirements.each do |clr| %>
            <%= content_tag(:li, clr.description) %>
            <% end %>
            </ul>
            <div class="divider15"></div>
            <%= content_tag(:h6, "相关课程（" + cl.courses.size.to_s + "）：") %>
            <ul id="cl-courses">
              <% cl.courses.each do |course| %>
              <li>
                <div class="cl-course-banner">
                  <%= link_to image_tag(course_cover_path(course, :small)), course_path(course), {:title => "#{course.title}"} %>
                  <%= link_to course.title, course_path(course) %>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      </div><!--#accordion-->
    </div><!--widgetcontent-->
                        
    <div class="divider15"></div>

    <h4 class="widgettitle"><span class="iconfa-tasks icon-white"></span><%= t("course.all.sub_title2") %><span class="pull-right"><%= link_to "see all &#8594;".html_safe, user_courses_path(current_user) %></span></h4>
    
    <% if @pending_courses.size == 0 %>
    <div class="widgetcontent">
      <p>No user setup yet. please setup it first. </p>
    </div>
    <% else %>
    <div class="widgetcontent nopadding">
      <ul class="courselist">
        <% @pending_courses.each do |c| %>
        <li>
          <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
          <div class="course-info">
            <h4><%= link_to c.title, course_path(c) %></h4>
            <h6><%= link_to c.teacher.name, user_path(c.teacher) %> <%= t("course.all.create") %> <%= distance_of_time_in_words_to_now(c.created_at) + t("course.all.ago") %></h6>
            <p><%= Sanitize.clean(eo_markdown(c.description)) unless c.description.blank? %></p>
            <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span><%= t("course.all.details") %></a>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="divider30"></div>
                        
  </div><!--span8-->
                    
  <div id="dashboard-right" class="span4">

    <h5 class="subtitle"><%= t("menu.user.announcements") %></h5>
    <div class="divider15"></div>
    <div class="alert alert-block">
      <button data-dismiss="alert" class="close" type="button">&times;</button>
      <h4>系统提示：</h4>
      <p style="margin: 8px 0">体验版部分功能不可用，请升级成正式版</p>
    </div><!--alert-->
    <div class="divider15"></div>

    <h4 class="widgettitle"><%= t("dashboard.calender.title") %></h4>
    <div class="widgetcontent nopadding">
        <div id="datepicker"></div>
    </div>

    <h4 class="widgettitle">最近好友活动</h4>
      <% if @feed_items.blank? %>
      <div class="widgetcontent">
      目前没有好友活动信息
      </div>
      <% else %>
      <div class="widgetcontent nopadding">
      <ul class="activity-list">
        <% @feed_items.each do |feed_item| %>
        <% next unless feed_item.item %>
        <li>
          <%= render :partial => "feed_items/#{feed_item.partial}", :locals => {:feed_item => feed_item} %> 
        </li>
        <% end %>
      </ul>
      <% end %>
      </div>
                      
    <div class="divider30"></div>                      
  </div><!--span4-->
</div> <!--row-fluid-->
