<% provide(:title, t("menu.user.home_title")) %>
<% provide(:page_title, t("menu.user.home_title")) %>
<% provide(:page_sub_title, t("menu.user.home_title")) %>
<% provide(:page_icon, "iconfa-home") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, t("menu.user.home_title")) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    $('#datepicker').datepicker();
    
    $('.accordion').accordion({
        heightStyle: "content",
        header: ".a-header"
    });
  });
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <% if @active_notifications.count > 0 %>
    <div class="alert alert-info alert-block">
      <button data-dismiss="alert" class="close" type="button">&times;</button>
      <h6>最新消息：</h6>
      <ul class='notificaiton-list'>
        <% @active_notifications.each do |n| %>
        <li><%= notice_description(n) %> <%= link_to '点击查看', notice_url(n) %></li>
        <% end %>
      </ul>
    </div><!--notifications-->
    <div class="divider15"></div>
    <% end %>

    <h4 class="widgettitle"><span class="iconfa-check"></span> 待办事项（<%= current_user.pending_todos.count %>）</h4>
    <% if current_user.pending_todos.count > 0 %>
    <div class="widgetcontent nopadding">
      <ul class="user-todo-list">
        <% current_user.pending_todos.each do |todo| %>
        <li>
          <%= todo_description(todo) %><span class='todo-action'><%= link_to "点击处理", todo_url(todo), :class => 'btn btn-primary btn-small' %></span>
        </li>
        <% end %>
      </ul>
    </div>
    <% else %>
    <div class="widgetcontent">
      目前没有待处理的事项。
    </div>
    <% end %>
    <div class="divider15"></div>

    <h4 class="widgettitle"><span class="iconfa-signal"></span> 项目进度跟踪（<%= @current_user.active_training_plans.count %>）</h4>
    <% if current_user.active_training_plans.count > 0 %>
    <div class="widgetcontent nopadding">
      <div class="accordion">
      <% current_user.active_training_plans.each do |tp| %>
      <div class="a-header">
        <a href="#">培训计划：<%= tp.title %>（<%= tp.course_for_user(current_user).count.to_s %>）</a>
      </div>
      <div class="a-content">
        <ul class='active-training-list'>
        <% tp.course_for_user(current_user).each do |c| %>

        <li class='training-user-course'>
          <span><%= tp.required?(c) ? '[必修课]' : '[选修课]' %>
          <%= link_to c.title, course_path(c) %>
          <span class='label label-info pull-right'><%= user_course_state current_user, c %></span>
          <% @course_class = c.find_class_for_user(current_user) %>
          <% if @course_class %>
            <ul class='active-class-list'>
              <li>
                <%= link_to '班级(ID-' + @course_class.id.to_s + ')', class_path(@course_class) %>
                老师:
                <% @course_class.teachers.each do |t| %>
                <span><%= link_to t.name, user_path(t) %></span>
                <% end %>
                助教:
                <% @course_class.assistents.each do |a| %>
                <span><%= link_to a.name, user_path(a) %></span>
                <% end %>
                报名状态: <%= @course_class.students.count %>/<%= @course_class.max_students %>
                <% if @course_class.student?(current_user) %>
                  <%= form_for(@course_class, :url => uneroll_class_path(@course_class), html: { :method => :put }) do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.submit "退出班级", :class => "btn btn-small btn-danger pull-right" %>
                  <% end %>

                <% else %>

                  <%= form_for(@course_class, :url => eroll_class_path(@course_class), html: { :method => :put }) do |f| %>
                  <%= f.hidden_field :user_id, :value => current_user.id %>
                  <%= f.submit "点击报名", :class => "btn btn-small btn-warning pull-right" %>
                  <% end %>
                <% end %>
              </li>
            </ul> 

          <% elsif c.course_classes.active.count > 0 %>
            <ul class='active-class-list'>
              <% c.course_classes.active.each do |cl| %>
              <li>
                <%= link_to '班级(ID-' + cl.id.to_s + ')', class_path(cl) %>
                老师:
                <% cl.teachers.each do |t| %>
                <span><%= link_to t.name, user_path(t) %></span>
                <% end %>
                助教:
                <% cl.assistents.each do |a| %>
                <span><%= link_to a.name, user_path(a) %></span>
                <% end %>
                报名状态: <%= cl.students.count %>/<%= cl.max_students %>
                <%= form_for(cl, :url => eroll_class_path(cl), html: { :method => :put }) do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.submit "点击报名", :class => "btn btn-small btn-warning pull-right" %>
                <% end %>
              </li>
              <% end %>
            </ul>
          <% end %>
        </li>
        <% end %>
        </ul>
      </div>
      <% end %>
    </div>

    </div>
    <% else %>
    <div class="widgetcontent">
      目前没有追踪进度的项目。
    </div>
    <% end %>
    <div class="divider15"></div>
    
    <h4 class="widgettitle"><span class="iconfa-signal"></span> 我的胜任力</h4>
    <div class="widgetcontent nopadding">
      <div class="accordion">
        <% current_user.position.competency_levels.each do |cl| %>
        <div class="a-header">
          <a href="#"><%= cl.competency.name + "（" + level_name(cl.level) + "）" %></a>
        </div>
        <div class="a-content">
          <div class="competency-level-details">
            <%= content_tag(:h6, "级别描述：" + cl.description) %>
            <ul id="cl-requirements">
            <% cl.competency_level_requirements.each do |clr| %>
            <%= content_tag(:li, clr.description) %>
            <% end %>
            </ul>
            <div class="divider15"></div>
            <%= content_tag(:h6, "相关课程（" + cl.courses.size.to_s + "）：") %>
            <ul id="cl-courses">
              <% cl.courses.each do |course| %>
              <li>
                <div class="cl-course-banner">
                  <%= link_to image_tag(course_cover_path(course, :small)), course_path(course), {:title => "#{course.title}"} %>
                  <%= link_to course.title, course_path(course) %>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      </div><!--#accordion-->
    </div><!--widgetcontent-->
                        
    <div class="divider15"></div>

                        
  </div><!--span8-->
                    
  <div id="dashboard-right" class="span4">

    <div class="alert alert-block">
      <button data-dismiss="alert" class="close" type="button">&times;</button>
      <h4>系统提示：</h4>
      <p style="margin: 8px 0">体验版部分功能不可用，请升级成正式版</p>
    </div><!--alert-->
    <div class="divider15"></div>

    <h4 class="widgettitle"><%= t("dashboard.calender.title") %></h4>
    <div class="widgetcontent nopadding">
        <div id="datepicker"></div>
    </div>

    <h4 class="widgettitle">最近好友活动</h4>
      <% if @feed_items.blank? %>
      <div class="widgetcontent">
      目前没有好友活动信息
      </div>
      <% else %>
      <div class="widgetcontent nopadding">
      <ul class="activity-list">
        <% @feed_items.each do |feed_item| %>
        <% next unless feed_item.item %>
        <li>
          <%= render :partial => "feed_items/#{feed_item.partial}", :locals => {:feed_item => feed_item} %> 
        </li>
        <% end %>
      </ul>
      <% end %>
      </div>
                      
    <div class="divider30"></div>                      
  </div><!--span4-->
</div> <!--row-fluid-->
