<% provide(:title, t("menu.user.home_title")) %>
<% provide(:page_title, t("menu.user.home_title")) %>
<% provide(:page_sub_title, t("menu.user.home_title")) %>
<% provide(:page_icon, "iconfa-home") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, t("menu.user.home_title")) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    $('#datepicker').datepicker();
    
    $('.accordion').accordion({
        heightStyle: "content",
        header: ".a-header"
    });

    $('.tabbedwidget').tabs();
  });
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">

    <h4 class="widgettitle"><span class="iconfa-check"></span> 待办事项（<%= current_user.pending_todos.count %>）</h4>
    <% if current_user.pending_todos.count > 0 %>
    <div class="widgetcontent nopadding">
      <table class='table responsive todo-table'>
        <tbody>
          <% current_user.pending_todos.each do |todo| %>
          <tr>
            <td><%= todo_type(todo) %></td>
            <td><%= todo_description(todo) %></td>
            <td><%= todo_deadline(todo) %></td>
            <td class='center'><span class='todo_action'><%= link_to "点击处理", todo_url(todo), :class => 'btn btn-primary btn-small' %></span></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    <div class="widgetcontent">
      目前没有待处理的事项。
    </div>
    <% end %>
    <div class="divider15"></div>

    <% if current_user.active_course_count > 0 \
        || current_user.joined_classes.count > 0 \
        || current_user.teach_classes.count > 0 \
        || current_user.created_training_plans.active.count > 0 %>
    <div class='tabbedwidget tab-primary'>
      <ul>
        <% if current_user.teach_classes.count > 0 %>
        <li><a href='#tab-teach'>管理班级（<%= current_user.teach_classes.count %>）</a></li>
        <% end %>
        <% if current_user.active_course_count > 0 %>
        <li><a href='#tab-course'>待培课程（<%= current_user.active_course_count %>）</a></li>
        <% end %>
        <% if current_user.joined_classes.active.count > 0 %>        
        <li><a href='#tab-student'>参加班级（<%= current_user.joined_classes.count %>）</a></li>
        <% end %>
        <% if current_user.created_training_plans.active.count > 0 %>
        <li><a href='#tab-tp'>培训计划（<%= current_user.created_training_plans.active.count %>）</a></li>
        <% end %>
      </ul>
      
      <% if current_user.teach_classes.count > 0 %>
      <div class='nopadding' id='tab-teach'>
        <% if current_user.teach_classes.count > 0 %>
        <ul class='teach-classes-list'>
          <% current_user.teach_classes.each do |tc| %>
          <li>
            <span class='label label-info'><%= tc.teacher?(current_user) ? "班级老师" : "班级助教" %></span>
            <%= link_to tc.course.title, course_path(tc.course) %> &middot;

            <%= link_to '班级(ID-' + tc.id.to_s + ')', class_path(tc) %>
            老师:
            <% tc.teachers.each do |t| %>
            <span><%= link_to t.name, user_path(t) %></span>
            <% end %>
            助教:
            <% tc.assistents.each do |a| %>
            <span><%= link_to a.name, user_path(a) %></span>
            <% end %>
            报名状态: <%= tc.students.count %>/<%= tc.max_students %>
          </li>
          <% end %>
        </ul>
        <% end %> <!-- teach course -->
      </div>
      <% end %>

      <% if current_user.active_course_count > 0 %>
      <div class='nopadding' id='tab-course'>
        <% current_user.active_training_plans.each do |tp| %>
          <% tp.course_for_user(current_user).each do |c| %>
          <% if c.course_classes.active.count == 0 %>
            <li class='active-class'>
              <span class='label label-info'><%= user_course_state current_user, c %></span>
              <span>[<%= tp.title %>]</span>
              <span><%= tp.required?(c) ? '[必修课]' : '[选修课]' %></span>
              <%= link_to c.title, course_path(c) %>
            </li>
          <% elsif c.find_class_for_user(current_user) != nil %>
            <% c.course_classes.active.each do |cl| %>
              <li class='active-class'>
                <span class='label label-info'><%= user_course_state current_user, c %></span>
                <span>[<%= tp.title %>]</span>
                <span><%= tp.required?(c) ? '[必修课]' : '[选修课]' %></span>
                <%= link_to c.title, course_path(c) %> &middot;

                <%= link_to '班级(ID-' + cl.id.to_s + ')', class_path(cl) %>
                老师:
                <% cl.teachers.each do |t| %>
                <span><%= link_to t.name, user_path(t) %></span>
                <% end %>
                助教:
                <% cl.assistents.each do |a| %>
                <span><%= link_to a.name, user_path(a) %></span>
                <% end %>
                报名状态: <%= cl.students.count %>/<%= cl.max_students %>
                <%= form_for(cl, :url => eroll_class_path(cl), html: { :method => :put }) do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <%= f.submit "点击报名", :class => "btn btn-small btn-warning pull-right" %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          <% end %>
        <% end %>
      </div>
      <% end %>

      <% if current_user.joined_classes.active.count > 0 %>
      <div class='nopadding' id='tab-student'>
      <% current_user.joined_classes.active.each do |cl| %>
        <li class='active-class'>
          <span class='label label-info'><%= user_course_state current_user, cl.course %></span>
          <%= link_to c.title, course_path(c) %> &middot;

          <%= link_to '班级(ID-' + cl.id.to_s + ')', class_path(cl) %>
          老师:
          <% cl.teachers.each do |t| %>
          <span><%= link_to t.name, user_path(t) %></span>
          <% end %>
          助教:
          <% cl.assistents.each do |a| %>
          <span><%= link_to a.name, user_path(a) %></span>
          <% end %>
          报名状态: <%= cl.students.count %>/<%= cl.max_students %>
          <%= form_for(cl, :url => uneroll_class_path(cl), html: { :method => :put }) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.submit "退出班级", :class => "btn btn-small btn-danger pull-right" %>
          <% end %>
        </li>
      <% end %>
      </div>
      <% end %>

      <% if current_user.created_training_plans.active.count > 0 %>
      <div class='nopadding' id='tab-tp'>
        <ul class="tp-list">
        <% current_user.created_training_plans.active.each do |tp| %>
        <li>
          <% if tp.state == 'pending_publish' %>
          <a href="<%= publish_training_plan_path(tp) %>" class="btn btn-warning btn-small pull-right">发布计划</a>
          <% end %>
          <div class='tp-header'>
          [培训计划] <%= link_to tp.title, training_plan_path(tp) %>
          <span class="deadline"> 反馈截止日期：<%= tp.feedback_deadline %></span>
          </div>
          <span>
            <span class="label label-info" ><%= training_plan_state(tp) %></span> &middot;
            计划参培人员（<%= tp.users.count %>） &middot;
            培训课程（<%= tp.required_courses.count + tp.optional_courses.count %>）
            <% if tp.state == 'pending_feedback' %>
             &middot; 反馈进度（<%= tp.feedbacks.count.to_s + '/' + tp.users.count.to_s %>）
            <% end %>
          </span>
        </li>
        <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="divider15"></div>
    
    <h4 class="widgettitle"><span class="iconfa-signal"></span> 我的胜任力</h4>
    <div class="widgetcontent nopadding">
      <div class="accordion">
        <% current_user.position.competency_levels.each do |cl| %>
        <div class="a-header">
          <a href="#"><%= cl.competency.name + "（" + level_name(cl.level) + "）" %></a>
        </div>
        <div class="a-content">
          <div class="competency-level-details">
            <%= content_tag(:h6, "级别描述：" + cl.description) %>
            <ul id="cl-requirements">
            <% cl.competency_level_requirements.each do |clr| %>
            <%= content_tag(:li, clr.description) %>
            <% end %>
            </ul>
            <div class="divider15"></div>
            <%= content_tag(:h6, "相关课程（" + cl.courses.size.to_s + "）：") %>
            <ul id="cl-courses">
              <% cl.courses.each do |course| %>
              <li>
                <div class="cl-course-banner">
                  <%= link_to image_tag(course_cover_path(course, :small)), course_path(course), {:title => "#{course.title}"} %>
                  <%= link_to course.title, course_path(course) %>
                </div>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      </div><!--#accordion-->
    </div><!--widgetcontent-->
                        
    <div class="divider15"></div>

                        
  </div><!--span8-->
                    
  <div id="dashboard-right" class="span4">

    <div class="alert alert-block">
      <button data-dismiss="alert" class="close" type="button">&times;</button>
      <h4>系统提示：</h4>
      <p style="margin: 8px 0">体验版部分功能不可用，请升级成正式版</p>
    </div><!--alert-->
    <div class="divider15"></div>

    <h4 class="widgettitle"><%= t("dashboard.calender.title") %></h4>
    <div class="widgetcontent nopadding">
        <div id="datepicker"></div>
    </div>

    <h4 class="widgettitle">最近好友活动</h4>
      <% if @feed_items.blank? %>
      <div class="widgetcontent">
      目前没有好友活动信息
      </div>
      <% else %>
      <div class="widgetcontent nopadding">
      <ul class="activity-list">
        <% @feed_items.each do |feed_item| %>
        <% next unless feed_item.item %>
        <li>
          <%= render :partial => "feed_items/#{feed_item.partial}", :locals => {:feed_item => feed_item} %> 
        </li>
        <% end %>
      </ul>
      <% end %>
      </div>
                      
    <div class="divider30"></div>                      
  </div><!--span4-->
</div> <!--row-fluid-->
