<% provide(:title, t("users.all.create")) %>
<% provide(:page_title, t("users.all.editprof")) %>
<% provide(:page_sub_title, t("share.header.edit")) %>
<% provide(:page_icon, "iconfa-edit") %>

<% content_for :breadcrumbs do %>
<li><%= link_to t("users.page.title"), admin_manage_users_path %> <span class="separator"></span></li>
<%= content_tag(:li, "Create User") %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t("users.all.editprof") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><%= t("users.all.editprof") %></h4>
    <div class="widgetcontent">
      <div class="divider15"></div>
      <%= render 'form' %>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
    <h3 class="subtitle"><%= t("course.all.tip") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"> <%= t("course.all.tips") %></h4>
    <div class="widgetcontent">
      <%= t("dashboard.common.none") %>
    </div>
  </div>
</div>
