<% provide(:title, 'create user') %>
<% content_for :javascript do %>
<script type="text/javascript">
</script>
<% end %>

<ul class="breadcrumbs">
    <li><%= link_to content_tag(:i, '', :class => 'iconfa-home' ), user_path(current_user)  %><span class="separator"></span></li>
</ul>

<div class="pageheader">
    <form action="#" method="post" class="searchbar">
        <input type="text" name="keyword" placeholder="To search course and hit enter..." />
    </form>
    <div class="pageicon"><span class="iconfa-home"></span></div>
    <div class="pagetitle">
        <h5>Key Account Manager(Lv2)</h5>
        <h1>Create User</h1>
    </div>
</div><!--pageheader-->

<div class="maincontent">
  <div class="maincontentinner">
    <div class="row-fluid">
      <div id="dashboard-left" class="span8">
        <h3 class="subtitle">Competency Model</h3>
        <div class="divider15"></div>
        <h4 class="widgettitle">Create New User</h4>
        <div class="widgetcontent">
          <div class="divider15"></div>
          <%= simple_form_for(@user, :html => {:class => 'form-horizontal' }) do |f| %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.input :email %>
            <%= f.input :position_id %>
            <%= f.input :password, hint: 'No special characters.'%>
            <%= f.input :password_confirmation %>
            <div class="form-actions">
            <%= f.button :submit, :class => "btn-primary"  %>
            </div>
          <% end %>

        </div>
      </div>
      <div id="dashboard-right" class="span4">
        <h3 class="subtitle">sidebar here</h3>
        <div class="divider15"></div>
        <h4 class="widgettitle"> Side Content</h4>
        <div class="widgetcontent">
          Side content
        </div>
      </div>
    </div>
  </div>
</div>