<% provide(:title, 'create user') %>
<% provide(:page_title, "Create User") %>
<% provide(:page_sub_title, "New User") %>
<% provide(:page_icon, "iconfa-user") %>

<% content_for :breadcrumbs do %>
<li><%= link_to t("users.page.title"), admin_manage_users_path %> <span class="separator"></span></li>
<%= content_tag(:li, "Create User") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle">Competency Model</h3>
    <div class="divider15"></div>
    <h4 class="widgettitle">Create New User</h4>
    <div class="widgetcontent">
      <div class="divider15"></div>
      <%= simple_form_for(@user, :html => {:class => 'form-horizontal', :multipart => true }) do |f| %>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :password, hint: 'No special characters.'%>
        <%= f.input :password_confirmation %>
        <%= f.association :position, label_method: :name, value_method: :id, include_blank: false %>
        <%= f.association :manager, collection: User.staff, label_method: :name, value_method: :id %>
        <%= f.input :department %>
        <%= f.input :department_level %>
        <%= f.input :staff_id %>
        <%= f.input :self_intro, :as => :text, :input_html => { :class => "span5",  :cols => 50, :rows => 5 } %>
        <%= f.input :joined_at, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12,
                              order: [:year, :month, :day] %>
        <%= f.input :birthday, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12,
                              order: [:year, :month, :day] %>
        <div class="control-group file optional">
          <label class="file optional control-label" for="user_avatar">Avatar</label>
          <div class="controls">
            <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="input-append">
              <div class="uneditable-input span2">
              <i class="iconfa-file fileupload-exists"></i>
              <span class="fileupload-preview"></span>
              </div>
              <span class="btn btn-file"><span class="fileupload-new">Select file</span>
              <span class="fileupload-exists">Change</span>
              <input class="file optional" id="user_avatar" name="user[avatar]" type="file" /></span>
              <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
            </div>
            <p class="help-block">No special characters.</p>
            </div>
          </div>
        </div>
  
        <div class="form-actions">
        <%= f.button :submit, :class => "btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
    <h3 class="subtitle">TIPS</h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"> Tips</h4>
    <div class="widgetcontent">
      None
    </div>
  </div>
</div>
