<% provide(:title, @user.name) %>
<% provide(:page_title, @user.name) %>
<% provide(:page_sub_title, @user.position.name) %>
<% provide(:page_icon, "iconfa-user") %>

<% content_for :breadcrumbs do %>
<% if current_user.admin? %>
<li><%= link_to " Users Managerment ", admin_manage_users_path %> <span class="separator"></span></li>
<% end %>
<%= content_tag(:li, @user.name) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    $('.accordion').accordion({
        collapsible: true,
        active: false,
        heightStyle: "content",
        header: ".a-header"
    });
    $('.tabbedwidget').tabs();
  });
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle">Courses</h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><span class="iconfa-tasks icon-white"></span> Teach Courses </h4>
    <% if @teach_courses.size == 0 %>
    <div class="widgetcontent">
      <p>None</p>
    </div>
    <% else %>
    <div class="widgetcontent nopadding">
      <ul class="courselist">
        <% @teach_courses.each do |c| %>
        <li>
          <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
          <div class="course-info">
            <h4><%= link_to c.title, course_path(c) %></h4>
            <h6>created by <%= link_to c.teacher.name, user_path(c.teacher) %> at <%= distance_of_time_in_words_to_now(c.created_at) + ' ago' %></h6>
            <p><%= c.description %></p>
            <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span> View Details</a>
          </div>
        </li>
        <% end %>
      </ul>
      <div class="page-wrapper"><%= paginate @teach_courses %></div>
    </div>
    <% end %>
    <div class="divider15"></div>

    <h4 class="widgettitle"><span class="iconfa-tasks icon-white"></span> Pending Courses </h4>
    <% if @pending_courses.size == 0 %>
    <div class="widgetcontent">
      <p>None</p>
    </div>
    <% else %>
    <div class="widgetcontent nopadding">
      <ul class="courselist">
        <% @pending_courses.each do |c| %>
        <li>
          <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
          <div class="course-info">
            <h4><%= link_to c.title, course_path(c) %></h4>
            <h6>created by <%= link_to c.teacher.name, user_path(c.teacher) %> at <%= distance_of_time_in_words_to_now(c.created_at) + ' ago' %></h6>
            <p><%= c.description %></p>
            <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span> View Details</a>
          </div>
        </li>
        <% end %>
      </ul>
      <div class="page-wrapper"><%= paginate @pending_courses %></div>
    </div>
    <% end %>

  </div><!-- span 8 -->

  <div id="dashboard-right" class="span4">
    <h3 class="subtitle">User Informations</h3>
    <div class="divider15"></div>
    <div class="well user-info-box">
      <div class="user-info-image">
        <%= image_tag user_avatar_path(@user, :normal) %>
        <% unless @user.id == current_user.id and current_user.admin? %>
          <% unless current_user.following?(@user) %>
            <%= form_for(current_user.user_relations.build(leader_id: @user.id)) do |f| %>
            <%= f.hidden_field :leader_id %>
            <%= f.submit "加关注", class: "btn btn-mini btn-block btn-success " %>
            <% end %>
          <% else %>
            <%= form_for(current_user.user_relations.find_by_leader_id(@user), html: { method: :delete }) do |f| %>
            <%= f.submit "取消关注", class: "btn btn-mini btn-block btn-warning " %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="user-info">
        <h4><%= link_to @user.name, user_path(@user) %></h4>
        <ul class="info-details">
          <li>Dept.: <%= @user.department %></li>
          <li>Title: <%= @user.position.name %></li>
          <li>Phone: <%= @user.phone_num %></li>
          <li>Mobile: <%= @user.mobile_phone %></li>
        </ul>
      </div>
    </div>

    <% if @user.manager and @user.manager.id != @user.id  %>
    <h3 class="subtitle">Manager</h3>
    <div class="well user-manager">
      <div class="user-image-name">
        <%= link_to image_tag(user_avatar_path(@user.manager, :small)), user_path(@user.manager), {:title => "#{@user.manager.name}"} %>
        <%= link_to @user.manager.name, user_path(@user.manager) %>
      </div>
    </div>
    <% end %>

    <h3 class="subtitle">Subordinates</h3>
    <div class="well user-subordinates">
      <% unless @user.subordinates.size > 0 %>
      None
      <% else %>
      <ul>
      <% @user.subordinates.each do |s| %>
        <li>
          <div class="user-image-name">
            <%= link_to image_tag(user_avatar_path(s, :small)), user_path(s), {:title => "#{s.name}"} %>
            <%= link_to s.name, user_path(s) %>
          </div>
        </li>
      <% end %>
      </ul>
      <% end %>
    </div>
    <div class="divider30"></div>
    
    <h3 class="subtitle">Social Networks</h3>
    <div class="divider15"></div>
    <div class="tabbedwidget tab-primary">
      <ul>
        <li><a href="#tabs-1">Followings</a></li>
        <li><a href="#tabs-2">Follower</a></li>
        <li><a href="#tabs-3">Recent Activity</a></li>
      </ul>
      <div id="tabs-1" class="">
        None
      </div>
      <div id="tabs-2" class="">
        None
      </div>
      <div id="tabs-3" class="">
        None
      </div>
    </div>
    <div class="divider30"></div>

    <h3 class="subtitle">Blogs</h3>
    <div class="divider15"></div>
    <h4 class="widgettitle">My Blog</h4>
    <div class="widgetcontent">
      None
    </div>
    <div class="divider30"></div>

    <h3 class="subtitle">Knowledge Center</h3>
    <div class="divider15"></div>
    <h4 class="widgettitle">Follwing Questions</h4>
    <div class="widgetcontent">
      None
    </div>


  </div>
</div> <!--row-fluid-->
