<% provide(:title, @user.name) %>
<% provide(:page_title, @user.name) %>
<% provide(:page_sub_title, @user.position.name) %>
<% provide(:page_icon, "iconfa-user") %>

<% content_for :breadcrumbs do %>
<% if current_user.admin? %>
<li><%= link_to t("users.page.title"), admin_manage_users_path %> <span class="separator"></span></li>
<% end %>
<%= content_tag(:li, @user.name) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    $('.accordion').accordion({
        collapsible: true,
        active: false,
        heightStyle: "content",
        header: ".a-header"
    });
    $('.tabbedwidget').tabs();
  });
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t("course.all.title") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><span class="iconfa-tasks icon-white"></span><%= t("course.all.sub_title1") %></h4>
    <% if @teach_courses.size == 0 %>
    <div class="widgetcontent">
      <p><%= t("dashboard.common.none") %></p>
    </div>
    <% else %>
    <div class="widgetcontent nopadding">
      <ul class="courselist">
        <% @teach_courses.each do |c| %>
        <li>
          <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
          <div class="course-info">
            <h4><%= link_to c.title, course_path(c) %></h4>
            <h6><%= link_to c.teacher.name, user_path(c.teacher) %><%= t("course.all.create")%> <%= distance_of_time_in_words_to_now(c.created_at) + t("course.all.ago") %></h6>
            <p><%= c.description %></p>
            <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span><%=t("course.all.details") %></a>
          </div>
        </li>
        <% end %>
      </ul>
      <div class="page-wrapper"><%= paginate @teach_courses %></div>
    </div>
    <% end %>
    <div class="divider15"></div>

    <h4 class="widgettitle"><span class="iconfa-tasks icon-white"></span><%= t("course.all.sub_title2") %></h4>
    <% if @pending_courses && @pending_courses.size > 0 %>
    <div class="widgetcontent nopadding">
      <ul class="courselist">
        <% @pending_courses.each do |c| %>
        <li>
          <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
          <div class="course-info">
            <h4><%= link_to c.title, course_path(c) %></h4>
            <h6><%= link_to c.teacher.name, user_path(c.teacher) %> <%= t("course.all.create")%> <%= distance_of_time_in_words_to_now(c.created_at) + t("course.all.ago") %></h6>
            <p><%= c.description %></p>
            <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span> <%=t("course.all.details") %></a>
          </div>
        </li>
        <% end %>
      </ul>
      <div class="page-wrapper"><%= paginate @pending_courses if @pending_courses %></div>
    </div>
    <% else %>
    <div class="widgetcontent">
      <p><%= t("dashboard.common.none") %></p>
    </div>
    <% end %>

  </div><!-- span 8 -->

  <div id="dashboard-right" class="span4">
    <h3 class="subtitle"><%= t("users.all.infor") %></h3>
    <div class="divider15"></div>
    <div class="well user-info-box">
      <div class="user-info-image">
        <%= image_tag user_avatar_path(@user, :normal) %>
        <% unless @user.id == current_user.id and current_user.admin? %>
          <% unless current_user.following?(@user) %>
            <%= form_for(current_user.user_relations.build(leader_id: @user.id)) do |f| %>
            <%= f.hidden_field :leader_id %>
            <%= f.submit "加关注", class: "btn btn-mini btn-block btn-success " %>
            <% end %>
          <% else %>
            <%= form_for(current_user.user_relations.find_by_leader_id(@user), html: { method: :delete }) do |f| %>
            <%= f.submit "取消关注", class: "btn btn-mini btn-block btn-warning " %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="user-info">
        <h4><%= link_to @user.name, user_path(@user) %></h4>
        <ul class="info-details">
          <li><%= t("users.all.department") %>.: <%= @user.department %></li>
          <li><%= t("users.all.position")%>: <%= @user.position.name %></li>
          <li><%= t("users.all.telephone")%>: <%= @user.phone_num %></li>
          <li><%= t("users.all.mobile")%>: <%= @user.mobile_phone %></li>
          <li>电子邮件: <%= @user.mobile_phone %></li>
        </ul>
      </div>
    </div>

    <% if @user.manager and @user.manager.id != @user.id  %>
    <h3 class="subtitle">Manager</h3>
    <div class="well user-manager">
      <div class="user-image-name">
        <%= link_to image_tag(user_avatar_path(@user.manager, :small)), user_path(@user.manager), {:title => "#{@user.manager.name}"} %>
        <%= link_to @user.manager.name, user_path(@user.manager) %>
      </div>
    </div>
    <% end %>

    <h3 class="subtitle"><%= t("users.all.subordinates")%></h3>
    <div class="well user-subordinates">
      <% unless @user.subordinates.size > 0 %>
        <%= t("dashboard.common.none") %>
      <% else %>
      <ul>
      <% @user.subordinates.each do |s| %>
        <li>
          <div class="user-image-name">
            <%= link_to image_tag(user_avatar_path(s, :small)), user_path(s), {:title => "#{s.name}"} %>
            <%= link_to s.name, user_path(s) %>
          </div>
        </li>
      <% end %>
      </ul>
      <% end %>
    </div>
    <div class="divider30"></div>
    
    <h3 class="subtitle"><%= t("users.all.social") %></h3>
    <div class="divider15"></div>
    <div class="tabbedwidget tab-primary">
      <ul>
        <li><a href="#tabs-1"><%= t('users.all.followings') %></a></li>
        <li><a href="#tabs-2"><%= t('users.all.follower') %></a></li>
        <li><a href="#tabs-3"><%= t('users.all.recent') %></a></li>
      </ul>
      <div id="tabs-1" class="">
        <% if @user.followed_users.size > 0 %>
        <ul>
        <% @user.followed_users.each do |s| %>
          <li>
            <div class="user-image-name">
              <%= link_to image_tag(user_avatar_path(s, :small)), user_path(s), {:title => "#{s.name}"} %>
              <%= link_to s.name, user_path(s) %>
            </div>
          </li>
        <% end %>
        </ul>
        <% else %>
        <%= t("dashboard.common.none") %>
        <% end %>
      </div>
      <div id="tabs-2" class="">
        <% if @user.fans.size > 0 %>
        <ul>
        <% @user.fans.each do |s| %>
          <li>
            <div class="user-image-name">
              <%= link_to image_tag(user_avatar_path(s, :small)), user_path(s), {:title => "#{s.name}"} %>
              <%= link_to s.name, user_path(s) %>
            </div>
          </li>
        <% end %>
        </ul>
        <% else %>
        <%= t("dashboard.common.none") %>
        <% end %>
      </div>
      <div id="tabs-3" class="">
        <%= t("dashboard.common.none") %>
      </div>
    </div>
    <div class="divider30"></div>

    <h3 class="subtitle"><%= t('users.all.blog') %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><%= t('users.all.myblog') %></h4>
    <div class="widgetcontent">
      <%= t("dashboard.common.none") %>
    </div>
    <div class="divider30"></div>

    <h3 class="subtitle"><%= t('users.all.knowledge') %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><%= t('users.all.question') %></h4>
    <div class="widgetcontent">
      <%= t("dashboard.common.none") %>
    </div>


  </div>
</div> <!--row-fluid-->
