<div class="header">
  <div class="logo">
    <%= link_to image_tag('logo.png'), home_path %>
  </div>
  <div class="headerinner">
    <ul class="headmenu">
      <li class="odd">
        <a href="">
          <span class="head-icon iconfa-certificate"></span>
          <span class="headmenu-label">考试中心</span>
        </a>
      </li>
      <li>
        <a href="<%= current_user.admin? ?  admin_manage_competency_path : competencies_path %>">
          <span class="head-icon iconfa-signal"></span>
          <span class="headmenu-label">能力中心</span>
        </a>
      </li>
      <li class="odd">
        <a href="<%= current_user.admin? ?  admin_manage_course_path : courses_path %>">
          <span class="head-icon iconfa-tasks"></span>
          <span class="headmenu-label">课程中心</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="head-icon iconfa-group"></span>
          <span class="headmenu-label">讲师中心</span>
        </a>
      </li>
      <li class="odd">
        <a href="#">
          <span class="head-icon iconfa-question-sign"></span>
          <span class="headmenu-label">知识共享</span>
        </a>
      </li>
      <li class="right">
        <div class="userloggedinfo">
          <%= image_tag user_avatar_path(current_user, :normal) %>
          <div class="userinfo">
            <h5><%= current_user.name %> <small>- <%= current_user.email %></small></h5>
            <ul>
              <% unless current_user.admin? %>
              <li><a href="<%= edit_user_path(current_user) %>">Edit Profile</a></li>
              <li><a href="">Account Settings</a></li>
              <% else %>
              <li><a href="">Edit Profile</a></li>
              <li><a href="">Account Settings</a></li>
              <% end %>
              <li><%= link_to "Sign out", logout_path %></li>
            </ul>
          </div>
        </div>
      </li>
    </ul><!--headmenu-->
  </div>
</div>