<div class="header">
  <div class="logo">
    <%= link_to image_tag('logo.png'), home_path %>
  </div>
  <div class="headerinner">
    <ul class="headmenu">
      <li class="odd">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="count">0</span>
          <span class="head-icon head-message"></span>
          <span class="headmenu-label">Messages</span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-header">Messages</li>
          <li class="viewmore"><a href="#">No New Messages</a></li>
        </ul>
      </li>
      <li class="right">
        <div class="userloggedinfo">
          <%= image_tag user_avatar_path(current_user, :normal) %>
          <div class="userinfo">
            <h5><%= current_user.name %> <small>- <%= current_user.email %></small></h5>
            <ul>
              <% unless current_user.admin? %>
              <li><a href="<%= edit_user_path(current_user) %>">Edit Profile</a></li>
              <li><a href="">Account Settings</a></li>
              <% else %>
              <li><a href="">Edit Profile</a></li>
              <li><a href="">Account Settings</a></li>
              <% end %>
              <li><%= link_to "Sign out", logout_path %></li>
            </ul>
          </div>
        </div>
      </li>
    </ul><!--headmenu-->
  </div>
</div>