<ul class="breadcrumbs">
  <% if current_user.admin? %>
  <li><%= link_to content_tag(:i, '', :class => 'iconfa-dashboard' ), admin_dashboard_path %><span class="separator"></span></li>
  <% else %>
  <li><%= link_to content_tag(:i, '', :class => 'iconfa-home' ), dashboard_user_path(current_user)  %><span class="separator"></span></li>
  <% end %>
  <%= yield :breadcrumbs %>
</ul>

<div class="pageheader">
  <form action="#" method="post" class="searchbar">
    <input type="text" name="keyword" placeholder="To search course and hit enter..." />
  </form>
  <div class="pageicon"><span class="<%= yield(:page_icon) %>"></span></div>
  <div class="pagetitle">
    <h5><%= yield(:page_sub_title) %></h5>
    <h1><%= yield(:page_title) %></h1>
  </div>
</div><!--pageheader-->