<% provide(:title, "培训计划管理") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, "培训计划管理") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h4 class="widgettitle">所有培训计划（<%= @tps.count %>）</h4>
    <% if @tps.count > 0 %>
    <div class="widgetcontent nopadding">
      <ul class="tp-list">
      <% @tps.each do |tp| %>
      <li>
        <span class="label label-info pull-right" ><%= training_plan_state(tp) %></span>
        <h5><%= link_to tp.title, training_plan_path(tp) %></h5>
        <span>
          <% if tp.creator %>
          <%= link_to tp.creator.name, user_path(tp.creator) %>发布于<%= distance_of_time_in_words_to_now tp.created_at %>前 &middot;
          <% end %>
          计划参加人员（<%= tp.users.count %>） &middot;
          必修课程（<%= tp.required_courses.count %>） &middot;
          选修课程（<%= tp.optional_courses.count %>） 
        </span>
      </li>
      <% end %>
      </div>
    </ul>
    <% else %>
    <div class="widgetcontent">
      <p>还没有任何培训计划</p>
    </div>
    <% end %>
  </div>
  <div id="dashboard-right" class="span4">
    <div class="well">
      <a href="<%= new_training_plan_path %>" class="btn btn-primary"><i class="iconfa-plus icon-white"></i> 创建培训计划</a>
    </div>
  </div>
</div>