<% provide(:title, "培训计划管理") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, "培训计划管理") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h4 class="widgettitle">所有培训计划（<%= @tps.count %>）</h4>
    <% if @tps.count > 0 %>
    <div class="widgetcontent nopadding">
      <ul class="tp-list">
      <% @tps.each do |tp| %>
      <li>
        <% if tp.state == 'pending_publish' %>
        <a href="<%= publish_training_plan_path(tp) %>" class="btn btn-warning btn-small pull-right">发布计划</a>
        <% end %>
        <div class='tp-header'>
        <%= link_to tp.title, training_plan_path(tp) %>
        <span class="created-at"> 发布于<%= distance_of_time_in_words_to_now tp.created_at %>前</span>
        </div>
        <span>
          <span class="label label-info" ><%= training_plan_state(tp) %></span> &middot;
          计划参培人员（<%= tp.users.count %>） &middot;
          必修课程（<%= tp.required_courses.count %>） &middot;
          选修课程（<%= tp.optional_courses.count %>） 
          <% if tp.state == 'pending_feedback' %>
           &middot; 反馈进度（<%= tp.feedbacks.count.to_s + '/' + tp.users.count.to_s %>）
          <% end %>
        </span>
      </li>
      <% end %>
      </ul>      
    </div>

    <% else %>
    <div class="widgetcontent">
      <p>还没有任何培训计划</p>
    </div>
    <% end %>
  </div>
  <div id="dashboard-right" class="span4">
    <div class="well">
      <a title="创建新培训计划" modal-type="training_plan"
          href="/ajax/form/training_plans/new" class="btn btn-primary">
        <i class="iconfa-plus icon-white"></i> 创建培训计划
      </a>
    </div>
  </div>
</div>