<% provide(:title, "培训计划管理") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, "培训计划管理") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h4 class="widgettitle">所有培训计划</h4>
    <% if @tps.size > 0 %>
    <div class="widgetcontent nopadding">
      <table class="table responsive tp-list">
      <% @tps.each do |tp| %>
      <tr>
        <td><span class="label label-info"><%= tp.state ||= "unknow" %></span></td>
        <td>
          <%= link_to tp.title, training_plan_path(tp) %>
          <span>计划参加人员: <%= tp.users.count %></span>
          <span>必修课程：<%= tp.required_courses.count %></span>
          <span>选修课程：<%= tp.optional_courses.count %></span>
        </td>
        <td><%= tp.created_at.to_date %></td>
        <td><%= link_to "编辑", edit_training_plan_path(tp), :class => "btn btn-primary" %></td>
      </tr>
      <% end %>
      </table>
    </div>
    <% else %>
    <div class="widgetcontent">
      <p>还没有任何培训计划</p>
    </div>
    <% end %>
  </div>
  <div id="dashboard-right" class="span4">
    <div class="well">
      <a href="<%= new_training_plan_path %>" class="btn btn-primary"><i class="iconfa-plus icon-white"></i> 创建培训计划</a>
    </div>
  </div>
</div>