<% provide(:title, current_user.admin? ? "权限管理" : "我的权限") %>
<% provide(:page_title, current_user.admin? ? "权限管理" : "我的权限") %>
<% provide(:page_sub_title, current_user.admin? ? "管理用户权限" : "查看权限") %>
<% provide(:page_icon, "iconfa-certificate") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, current_user.admin? ? "权限管理" : "我的权限") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t("修改默认权限") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><%= t("修改默认权限") %></h4>
    <div class="widgetcontent">
      <div class="divider15"></div>
      <%= simple_form_for(@authority, :url => permission_path, :method => 'put',:html => {:class => 'form-horizontal'}) do |f| %>
        <% f.hidden_field :default_role, :value => @authority.role %>
      	<%= f.input :user_id, :value => @authority.user_id %>
        <%= f.input :module_name, :label => '模块' ,:value => @authority.module_name %>
        <%= f.input :role, collection: @scope_list, :label => '角色' %>
        <div class="form-actions">
        <%= f.button :submit, '修改权限', :class => "btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
  </div>
</div>