<% provide(:title, current_user.admin? ? "权限管理" : "我的权限") %>
<% provide(:page_title, current_user.admin? ? "权限管理" : "我的权限") %>
<% provide(:page_sub_title, current_user.admin? ? "管理用户权限" : "查看权限") %>
<% provide(:page_icon, "iconfa-certificate") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, current_user.admin? ? "权限管理" : "我的权限") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t("修改默认权限") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"><%= t("修改默认权限") %></h4>
    <div class="widgetcontent">
      <div class="divider15"></div>
      <%= simple_form_for(@authority, :url => permission_path, :method => 'put',:html => {:class => 'form-horizontal'}) do |f| %>
      	<% f.hidden_field :id, :value => @authority.id %>
        <%= f.input :role,:label => '角色', :disabled => true %>
        <%= f.input :model_name, :label => '模块', :disabled => true %>
        <%= f.input :create_permit, collection: @scope_list, :label => '创建权' %>
        <%= f.input :edit_permit, collection: @scope_list, :label => '修改权' %>
        <%= f.input :read_permit, collection: @scope_list, :label => '查阅权' %>
        <div class="form-actions">
        <%= f.button :submit, '修改默认权限', :class => "btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
  </div>
</div>