<% provide(:title, current_user.admin? ? "权限管理" : "我的权限") %>
<% provide(:page_title, current_user.admin? ? "权限管理" : "我的权限") %>
<% provide(:page_sub_title, current_user.admin? ? "管理用户权限" : "查看权限") %>
<% provide(:page_icon, "iconfa-certificate") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, current_user.admin? ? "权限管理" : "我的权限") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t('permissions.all.title') %></h3>
    <div class="divider15"></div>
    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-group"></span> <%= t('permissions.all.title') %></h4>
      </div>
      <% if @authority.size == 0 %>
      <div class="widgetcontent">
        <p>No Competency Model setup yet. please setup it first. </p>
      </div>
      <% else %>
      <table class="table table-bordered responsive">
        <thead>
          <tr>
            <th class="center"><%= t('users.all.action') %></th>
            <th class="center"><%= t('users.all.name')%></th>
            <th class="center"><%= t('permissions.all.name') %></th>
            <th class="center"><%= t('permissions.all.create')%></th>
            <th class="center"><%= t('permissions.all.read') %></th>
            <th class="center"><%= t('permissions.all.update')%></th>
          </tr>
        </thead>
        <tbody>
        <% @authority.each do |p| %>
          <tr>
            <td class="center">
              <%= link_to "编辑", "#myModal", {:class => "btn btn-primary",  "data-toggle" => "modal"} %>
            </td>
            <td class="center"><%= @user.name %></td>
            <td class="center"><%= p.get_model_name(p.model_name) %></td>
            <td class="center"><%= p.get_permit_scope(p.create_permit) %></td> 
            <td class="center"><%= p.get_permit_scope(p.read_permit) %></td>  
            <td class="center"><%= p.get_permit_scope(p.edit_permit) %></td>   
          </tr>
          <% end %>
        </tbody>
      </table>     
      <% end %>
    </div>
  </div> 
</div>