<% provide(:title, current_user.admin? ? "权限管理" : "我的权限") %>
<% provide(:page_title, current_user.admin? ? "权限管理" : "我的权限") %>
<% provide(:page_sub_title, current_user.admin? ? "管理用户权限" : "查看权限") %>
<% provide(:page_icon, "iconfa-certificate") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, current_user.admin? ? "权限管理" : "我的权限") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t('permissions.all.title') %></h3>
    <div class="divider15"></div>
    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-group"></span> <%= t('permissions.all.title') %></h4>
      </div>
      <% if @permit.size != 0 %>
        <table class="table table_bordered responsive">
          <thead>
            <tr>
              <th class="center"><%= t('users.all.action') %></th>
              <th class="center"><%= "功能模块" %></th>
              <th class="center"><%= "角色" %></th>
            </tr>
          </thead>
          <tbody>
          <% @permit.each do |key, value| %>
            <tr>
              <td class="center">
                <%= link_to "编辑", {:controller=>"permissions", :action=>"edit", :module=>key, :role=>value}, {:class => "btn btn-primary",  "data-toggle" => "modal"} %>
              </td>
              <td class="center"><%= key %></td>
              <td class="center"><%= value %></td>  
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="widgetcontent">
          <p>还没有设置各用户的默认权限，请先创建角色默认权限。 </p>
        </div>
      <% end %>
    </div>
  </div> 
</div>