<% provide(:title, @menu_active == 'courses' ? t("menu.user.courses") : t("menu.user.mycourse")) %>
<% provide(:page_title, @menu_active == 'courses' ? t("menu.user.courses") : t("menu.user.mycourse")) %>
<% provide(:page_sub_title, @menu_active == 'courses' ? t("course.all.falcourse") : t("course.all.sub_title2")) %>
<% provide(:page_icon, "iconfa-folder-open") %>

<% content_for :breadcrumbs do %>
<li><%= t("menu.user.courses") %></li>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t("dashboard.overview.courses") %> <%= @courses.total_count %></h3>
    <div class="divider15"></div>
    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-folder-open"></span> <%= t("course.all.findcouse") %> (<%= @courses.total_count %>)</h4>
      </div>
      <% if @courses.size == 0 %>
      <div class="widgetcontent">
        <p><%= t("dashboard.competency.null_competency") %> </p>
      </div>
      <% else %>
      <div class="widgetcontent nopadding">
        <ul class="courselist">
          <% @courses.each do |c| %>
          <li>
            <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
            <div class="course-info">
              <h4><%= link_to c.title, course_path(c) %></h4>
              <h6>created by <%= link_to c.creator.name, user_path(c.creator) %> at <%= distance_of_time_in_words_to_now(c.created_at) + ' ago' %></h6>
              <p><%= Sanitize.clean(eo_markdown(c.description)) unless c.description.blank? %></p>
              <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span> View Details</a>
            </div>
          </li>
          <% end %>
        </ul>
        <div class="page-wrapper"><%= paginate @courses %></div>
      </div>
      <% end %>
    </div>

  </div>

  <div id="dashboard-right" class="span4">
    <div class="well">
      <a href="<%= new_user_course_path(current_user) %>" class="btn btn-primary"><i class="iconfa-plus icon-white"></i><%= t("course.all.new") %></a>
    </div>

    <h3 class="subtitle"><%=t("course.all.filter") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"> <%=t("course.all.filter") %></h4>
    <div class="widgetcontent">
      <%= form_tag courses_path, :method => 'get' do %>
        <% unless @user %>
        <div>
          <%= label_tag :teacher_id, t("course.all.teacher") %>
          <%= collection_select(nil, :teacher_id, User.teacher, :id, :name, {:include_blank => '请选择'}) %>
        </div>
        <div>
          <%= label_tag :position_id, t("course.all.position") %>
          <%= collection_select(nil, :position_id, Position.all, :id, :name, {:include_blank => '请选择'}) %>
        </div>
        <% else %>
        <div>
          <%= label_tag :teacher_id, t("course.all.teacher") %>
          <%= collection_select(nil, :teacher_id, User.teacher, :id, :name, {:include_blank => '请选择'}) %>
        </div>
        <% end %>
          <%= submit_tag t("course.all.filter_condition").html_safe, :class => "btn btn-primary" %>
          <%= link_to t("course.all.clear_filter"),  courses_path %>
      <% end %>
    </div>
  </div>
</div> <!--row-fluid-->
