<% provide(:title, @menu_active == 'course' ? t("menu.user.courses") : t("menu.user.mycourse")) %>
<% provide(:page_title, @menu_active == 'course' ? t("menu.user.courses") : t("menu.user.mycourse")) %>
<% provide(:page_sub_title, @menu_active == 'course' ? t("course.all.falcourse") : t("course.all.sub_title2")) %>
<% provide(:page_icon, "iconfa-folder-open") %>

<% content_for :breadcrumbs do %>
<li><%= t("menu.user.courses") %></li>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t("dashboard.overview.courses") %> <%= @courses.total_count %></h3>
    <div class="divider15"></div>
    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-folder-open"></span> <%= t("course.all.findcouse") %> (<%= @courses.total_count %>)</h4>
      </div>
      <% if @courses.size == 0 %>
      <div class="widgetcontent">
        <p>没有找到课程</p>
      </div>
      <% else %>
      <div class="widgetcontent nopadding">
        <ul class="courselist">
          <% @courses.each do |c| %>
          <li>
            <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
            <div class="course-info">
              <h4><%= link_to c.title, course_path(c) %></h4>
              <ul>
                <li>目标学员：<%= c.audience %></li>
                <li>授课老师：<%= c.teacher.name %></li>
                <li>课程时长：<%= c.duration %> 小时</li>
                <% if c.competency_levels.size > 0 %>
                <li>所属胜任力级别：<%= c.competency_levels.first.competency.name %> (<%=level_name(c.competency_levels.first.level)%>)</li>
                <% else %>
                <li>所属胜任力级别：无</li>
                <% end %>
              </ul>
              <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span> <%= t("course.all.details") %></a>
            </div>
          </li>
          <% end %>
        </ul>
        <div class="page-wrapper"><%= paginate @courses %></div>
      </div>
      <% end %>
    </div>

  </div>

  <div id="dashboard-right" class="span4">
    <div class="well">
      <a href="<%= new_user_course_path(current_user) %>" class="btn btn-primary"><i class="iconfa-plus icon-white"></i><%= t("course.all.new") %></a>
    </div>

    <h3 class="subtitle"><%=t("course.all.filter") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"> <%=t("course.all.filter") %></h4>
    <div class="widgetcontent">
      <%= form_tag courses_path, :method => 'get' do %>
        <% unless @user %>
        <div>
          <%= label_tag :teacher_id, t("course.all.teacher") %>
          <%= collection_select(nil, :teacher_id, User.teacher, :id, :name, {:include_blank => '请选择'}) %>
        </div>
        <div>
          <%= label_tag :position_id, t("course.all.position") %>
          <%= collection_select(nil, :position_id, Position.all, :id, :name, {:include_blank => '请选择'}) %>
        </div>
        <% else %>
        <div>
          <%= label_tag :teacher_id, t("course.all.teacher") %>
          <%= collection_select(nil, :teacher_id, User.teacher, :id, :name, {:include_blank => '请选择'}) %>
          <%= hidden_field_tag 'user_id', @user.id  %>
        </div>
        <% end %>
          <%= submit_tag t("course.all.filter_condition").html_safe, :class => "btn btn-primary" %>
          <%= link_to t("course.all.clear_filter"),  courses_path %>
      <% end %>
    </div>
  </div>
</div> <!--row-fluid-->
