<% provide(:title, @course.title) %>
<% provide(:page_title, @course.title) %>
<% provide(:page_sub_title, t("course.all.detail")) %>
<% provide(:page_icon, "iconfa-edit") %>

<% content_for :breadcrumbs do %>
<% if current_user.admin? %>
<li><%= link_to t("course.page.title"), admin_manage_course_path %> <span class="separator"></span></li>
<% else %>
<li><%= link_to t("menu.user.mycourse"), user_courses_path(current_user) %> <span class="separator"></span></li>
<% end %>
<%= content_tag(:li, @course.title) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    // tabbed widget
    $('.tabbedwidget').tabs();
  });
  function loadSWF(url, id){
    if(url) {
      var flashvars = {};
      var swfwidth = $("#swf-content").width();
      console.log(swfwidth);
      var swfheigth = Math.floor(swfwidth * 3 / 4);
      console.log(swfheigth);
      flashvars.autoPlay = "true";
      var params = {};
      params.play = "true";
      params.menu = "false";
      params.quality = "high";
      params.allowfullscreen = "true";
      var attributes = {};
      attributes.align = "middle";
      swfobject.embedSWF(url, "swf-content", swfwidth.toString(), swfheigth.toString(), "9.0.0", false, flashvars, params, attributes);
    }
  }
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <div class="class-course">
      <%= image_tag course_cover_path(@course, :large), :class => "pull-left" %>
      <div class="course-banner">
        <h3><%= @course.title %></h3>
        <button class="btn btn-warning disabled"><%= t("course.all.join") %></button>
        <h5><%= link_to @course.creator.name, user_path(@course.creator) %> <%= t("course.all.create") %> <%= distance_of_time_in_words_to_now(@course.created_at) + t("course.all.ago") %></h5>
      </div>
    </div>
    <div class="divider30"></div>
    <div class="clearfix"></div>

    <% unless @course.lesson.url.nil? %>
    <div id="swf-content">
      <a class="btn btn-success btn-small" href="<%= @course.lesson.url %>" onclick="loadSWF(this.href, 1); return false;"> <%= t("course.all.clik_watch") %></a>
    </div>
    <div class="divider15"></div>
    <% end %>

    <div class="tabbedwidget tab-primary">
      <ul>
        <li><a href="#tabs-1"><span class="iconfa-info-sign"></span> <%= t("course.all.info") %></a></li>
        <li><a href="#tabs-2"><span class="iconfa-file"></span>  <%= t("course.all.material") %></a></li>
        <li><a href="#tabs-3"><span class="iconfa-comments-alt"></span>  <%= t("course.all.discussion") %></a></li>
      </ul>
      <div id="tabs-1" class="course-introduction">
        <h6><%= @course.description %></h6>
      </div>
      <div id="tabs-2" class="course-material">
        <p> <%= t("course.all.notic1") %></p>
      </div>
      <div id="tabs-3" class="course-discussion">
        <p> <%= t("course.all.notic2") %></p>
      </div>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
    <div class="well">
    <% if current_user.admin? or @course.teacher?(current_user) %>
      <a href="<%= edit_course_path(@course) %>" class="btn btn-success"><i class="iconfa-edit icon-white"></i>  <%= t("position.all.edit") %></a>
    <% else %>
      <a href="#" class="btn btn-warning disabled"><i class="iconfa-plus icon-white"></i> <%= t("course.all.join")%></a>
    <% end %>
    </div>
    
    <h3 class="subtitle"> <%= t("users.all.aboutteacher") %></h3>
    <div class="well about-teacher">
      <%= image_tag user_avatar_path(@course.teacher, :normal), :class => "pull-left" %>
      <div class="teacher-info">
        <h4><%= link_to @course.teacher.name, user_path(@course.teacher) %></h4>
        <p> <%= t("users.all.nointruduction") %></p>
      </div>
    </div>

    <div class="divider15"></div>
    <h3 class="subtitle"> <%= t("users.all.student") %></h3>
      <div class="well course-students">
        <p> <%= t("users.all.notice") %></p>
      </div>
    
  </div>
</div>