<% provide(:title, @course.title) %>
<% provide(:page_title, @course.title) %>
<% provide(:page_sub_title, t("course.all.detail")) %>
<% provide(:page_icon, "iconfa-edit") %>

<% content_for :breadcrumbs do %>
<% if current_user.admin? %>
<li><%= link_to t("course.page.title"), admin_manage_course_path %> <span class="separator"></span></li>
<% else %>
<li><%= link_to t("menu.user.mycourse"), user_courses_path(current_user) %> <span class="separator"></span></li>
<% end %>
<%= content_tag(:li, @course.title) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function() {
    // tabbed widget
    $('.tabbedwidget').tabs();
  });
  function loadSWF(url, id){
    if(url) {
      var flashvars = {};
      var swfwidth = $("#swf-content").width();
      console.log(swfwidth);
      var swfheigth = Math.floor(swfwidth * 3 / 4);
      console.log(swfheigth);
      flashvars.autoPlay = "true";
      var params = {};
      params.play = "true";
      params.menu = "false";
      params.quality = "high";
      params.allowfullscreen = "true";
      var attributes = {};
      attributes.align = "middle";
      swfobject.embedSWF(url, "swf-content", swfwidth.toString(), swfheigth.toString(), "9.0.0", false, flashvars, params, attributes);
    }
  }
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <div class="class-course">
      <%= image_tag course_cover_path(@course, :large), :class => "pull-left" %>
      <div class="course-banner">
        <h3><%= @course.title %></h3>
        <ul>
          <li>目标学员：<%= @course.audience %></li>
          <li>授课老师：<%= @course.teacher.name %></li>
          <li>讲师来源：<%= @course.source_type %></li>
          <li>授课方式：<%= @course.teach_type %></li>
          <li>课程类型：<%= @course.course_type %></li>
          <li>课程时长：<%= @course.duration %> 小时</li>
          <% if @course.competency_levels.size > 0 %>
          <li>所属胜任力级别：<%= @course.competency_levels.first.competency.name %> (<%=level_name(@course.competency_levels.first.level)%>)</li>
          <% end %>
        </ul>
        <span><%= link_to @course.creator.name, user_path(@course.creator) %> <%= t("course.all.create") %> <%= distance_of_time_in_words_to_now(@course.created_at) + t("course.all.ago") %></span>
      </div>
    </div>
    <div class="divider30"></div>
    <div class="clearfix"></div>

    <% unless @course.lesson.url.nil? %>
    <div id="swf-content">
      <a class="btn btn-success btn-small" href="<%= @course.lesson.url %>" onclick="loadSWF(this.href, 1); return false;"> <i class="iconfa-play"></i> <%= t("course.all.clik_watch") %></a>
    </div>
    <div class="divider15"></div>
    <% end %>

    <div class="tabbedwidget tab-primary">
      <ul>
        <li><a href="#tabs-1"><span class="iconfa-info-sign"></span> <%= t("course.all.info") %></a></li>
        <li><a href="#tabs-2"><span class="iconfa-check"></span> 课程目标</a></li>
        <li><a href="#tabs-3"><span class="iconfa-file"></span>  <%= t("course.all.material") %></a></li>
        <li><a href="#tabs-4"><span class="iconfa-comments-alt"></span>  <%= t("course.all.discussion") %></a></li>
      </ul>
      <div id="tabs-1" class="course-introduction">
        <%= eo_markdown(@course.description) unless @course.description.blank? %>
      </div>
      <div id="tabs-2" class="course-target">
        <% unless @course.target.blank? %>
        <%= eo_markdown(@course.target) unless @course.description.blank? %>
        <% else %>
        <p> <%= t("course.all.notic1") %></p>
        <% end %>
      </div>
      <div id="tabs-3" class="course-material">
        <p> <%= t("course.all.notic1") %></p>
      </div>
      <div id="tabs-4" class="course-discussion">
        <div class="discuss-list"> <%= t("course.all.notic2") %></div>
        <div class="discuss-input-box">
          <%= image_tag user_avatar_path(current_user, :small) %>
          <div class="discuss-input">
            <%= text_area_tag "topic", nil, :rows => 4, :cols => 25, :placeholder => "发起讨论或者发布问题..." %>
            <div><a href="#" class="btn btn-primary disabled"><i class="iconfa-edit icon-white"></i> 发布讨论</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
    <div class="well">
    <% if current_user.admin? or @course.teacher?(current_user) %>
      <a href="<%= edit_course_path(@course) %>" class="btn btn-success"><i class="iconfa-edit icon-white"></i>  <%= t("position.all.edit") %></a>
    <% else %>
      <a href="#" class="btn btn-warning disabled"><i class="iconfa-plus icon-white"></i> <%= t("course.all.join")%></a>
    <% end %>
    </div>
    
    <h3 class="subtitle"> <%= t("users.all.aboutteacher") %></h3>
    <div class="well about-teacher">
      <div class="teacher-image-rate">
      <%= image_tag user_avatar_path(@course.teacher, :normal) %>
      <%= teacher_rate_tag(@course.teacher) %>
      </div>
      <div class="teacher-info">
        <h4><%= link_to @course.teacher.name, user_path(@course.teacher) %></h4>
        <% if @course.teacher.self_intro.blank? %>
        <p> <%= t("users.all.nointruduction") %></p>
        <% else %>
        <p><%= @course.teacher.self_intro %></p>
        <% end %>
      </div>
    </div>

    <div class="divider15"></div>
    <h3 class="subtitle"> <%= t("users.all.student") %></h3>
      <div class="well course-students">
        <% if @course.competency_levels.size > 0 %>
        <ul>
          <% @course.competency_levels.first.positions.first.users.each do |u| %>
          <% unless u.admin? or u.id == @course.teacher.id %>
          <li>
            <div class="user-image-name">
              <%= link_to image_tag(user_avatar_path(u, :small)), user_path(u), {:title => "#{u.name}"} %>
              <%= link_to u.name, user_path(u) %>
            </div>
          </li>
          <% end %>
          <% end %>
        </ul>
        <% else %>
        <p><%= t("users.all.notice") %></p>
        <% end %>
      </div>
    
  </div>
</div>
