<% provide(:title, @course.title) %>
<% provide(:page_title, @course.title) %>
<% provide(:page_sub_title, t("course.all.detail")) %>
<% provide(:page_icon, "iconfa-edit") %>

<% content_for :breadcrumbs do %>
<% if current_user.admin? %>
<li><%= link_to t("course.page.title"), admin_manage_course_path %> <span class="separator"></span></li>
<% else %>
<li><%= link_to t("menu.user.mycourse"), user_courses_path(current_user) %> <span class="separator"></span></li>
<% end %>
<%= content_tag(:li, @course.title) %>
<% end %>

<% content_for :javascript do %>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <div class="class-course">
      <%= image_tag course_cover_path(@course, :large), :class => "pull-left" %>
      <div class="course-banner">
        <h3><%= @course.title %></h3>
        <ul>
          <li>目标学员：<%= @course.audience %></li>
          <li>授课老师：<%= @course.teacher.name %></li>
          <li>讲师来源：<%= @course.source_type %></li>
          <li>授课方式：<%= @course.teach_type %></li>
          <li>课程类型：<%= @course.course_type %></li>
          <li>课程时长：<%= @course.duration %> 小时</li>
          <% if @course.competency_levels.size > 0 %>
          <li>所属胜任力级别：<%= @course.competency_levels.first.competency.name %> (<%=level_name(@course.competency_levels.first.level)%>)</li>
          <% end %>
        </ul>
        <span><%= link_to @course.creator.name, user_path(@course.creator) %> <%= t("course.all.create") %> <%= distance_of_time_in_words_to_now(@course.created_at) + t("course.all.ago") %></span>
      </div>
    </div>
    <div class="divider15"></div>
    <div class="clearfix"></div>

    <% if @course.course_classes.active.count > 0 %>
    <h3 class="subtitle">目前开设的班级：</h3>
    <div class='well nopadding'>
    <ul class='course-active-class-list'>
      <% @course.course_classes.active.each do |c| %>
      <li>
        <%= link_to '班级(ID-' + c.id.to_s + ')', class_path(c) %>
        老师:
        <% c.teachers.each do |t| %>
        <span><%= link_to t.name, user_path(t) %></span>
        <% end %>
        助教:
        <% c.assistents.each do |a| %>
        <span><%= link_to a.name, user_path(a) %></span>
        <% end %>
        报名状态: <%= c.students.count %>/<%= c.max_students %>
        <%= form_for(c, :url => eroll_class_path(c), html: { :method => :put }) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.submit "点击报名", :class => "btn btn-small btn-warning pull-right" %>
        <% end %>
      </li>
      <% end %>
    </ul>
    </div>
    <% end %>

    <h3 class="subtitle">课程简介：</h3>
    <div class='well'>
      <% unless @course.description.blank? %>
      <%= eo_markdown(@course.description) unless @course.description.blank? %>
      <% else %>
      <p>目前没有课程介绍。</p>
      <% end %>
    </div>

    <h3 class="subtitle">课程目标：</h3>
    <div class='well'>
      <% unless @course.target.blank? %>
      <%= eo_markdown(@course.target) unless @course.description.blank? %>
      <% else %>
      <p>目前没有课程目标。</p>
      <% end %>
    </div>

    <div class='well course-comments'>
      <h4>课程评论：<%= @course.comments.count %></h4>
      <% if @course.comments.count > 0 %>
      <ul class='course-comments-list'>
        <% @course.comments.each do |com| %>
        <li>
        <%= image_tag user_avatar_path(com.user, :small) %>
          <div class='comment-details'>
            <%= link_to com.user.name, user_path(com.user) %>
            <span class='pull-right'> 发表于<%= distance_of_time_in_words_to_now(com.created_at) %>前</span>
            <p><%= com.content %><p>
          </div>
        </li>
        <% end %>
      </ul>
      <% else %>
      <p>目前还没有评论。</p>
      <% end %>

      <div class='course-comment-form'>
      <%= image_tag user_avatar_path(current_user, :small) %>
      <div class='comment-input'>
      <%= simple_form_for Comment.new, :url => comments_path, :method => :post do |f| %>
        <%= f.input :content, :as => :text, :input_html => { :cols => 50, :rows => 3 }, :placeholder => "发表评论...", :label => false %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :commentable_type, :value => @course.class.name.demodulize  %>
        <%= f.hidden_field :commentable_id, :value => @course.id %>
        <%= f.submit "发表评论", :class => "btn, btn-primary" %>
      <% end %>
      </div>
      </div>

    </div>

  </div>
  <div id="dashboard-right" class="span4">
    <% if current_user.admin? or @course.creator?(current_user) %>
    <div class="well">
      <a href="<%= edit_course_path(@course) %>" class="btn btn-success"><i class="iconfa-edit icon-white"></i>  编辑课程信息</a>
      <a href="<%= new_course_class_path(@course) %>" class="btn btn-warning"><i class="iconfa-plus icon-white"></i>  开设班级</a> 
    </div>
    <% end %>

    <h3 class="subtitle">已完成班级记录：</h3>
    <% if @course.course_classes.finished.count > 0 %>
    <div class='well nopadding'>
      <ul class='course-active-class-list'>
        <% @course.course_classes.active.each do |c| %>
        <li>
          <%= link_to '班级(ID-' + c.id.to_s + ')', class_path(c) %>
          老师:
          <% c.teachers.each do |t| %>
          <span><%= link_to t.name, user_path(t) %></span>
          <% end %>
          助教:
          <% c.assistents.each do |a| %>
          <span><%= link_to a.name, user_path(a) %></span>
          <% end %>
          报名状态: <%= c.students.count %>/<%= c.max_students %>
        </li>
        <% end %>
      </ul>
    </div>
    <% else %>
    <div class='well'>
      没有已完成班级记录。
    </div>
    <% end %>

  </div>
</div>
