<% provide(:title, t("course.page.title")) %>
<% provide(:page_title, t("course.page.title")) %>
<% provide(:page_sub_title, t("course.page.sub_title")) %>
<% provide(:page_icon, "iconfa-folder-open") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, t("course.page.title")) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-folder-open"></span> <%= t("course.all.sub_title") %> (<%= @courses.total_count %>)</h4>
      </div>
      <% if @courses.size == 0 %>
      <div class="widgetcontent">
        <p>No Competency Model setup yet. please setup it first. </p>
      </div>
      <% else %>
      <div class="widgetcontent nopadding">
        <ul class="courselist">
          <% @courses.each do |c| %>
          <li>
            <%= image_tag course_cover_path(c, :normal), :class => "pull-left" %>
            <div class="course-info">
              <h4><%= link_to c.title, course_path(c) %></h4>
              <ul>
                <li>目标学员：<%= c.audience %></li>
                <li>授课老师：<%= c.teacher.name %></li>
                <li>课程时长：<%= c.duration %> 小时</li>
                <% if c.competency_levels.size > 0 %>
                <li>所属胜任力级别：<%= c.competency_levels.first.competency.name %> (<%=level_name(c.competency_levels.first.level)%>)</li>
                <% else %>
                <li>所属胜任力级别：无</li>
                <% end %>
              </ul>
              <a href="<%= course_path(c) %>" class="btn btn-primary btn-small"><span class="iconfa-info-sign icon-white"></span> <%= t("course.all.details") %></a>
              <a href="/ajax/form/courses/edit/<%= c.id %>" class="btn btn-warning btn-small"
                  title="编辑课程"  data-id="<%= c.id %>" data-target="#quick_form" data-toggle="modal" 
                  modal-type-edit="course">
                <span class="iconfa-edit icon-white"></span> 编辑课程
              </a>
            </div>
          </li>
          <% end %>
        </ul>
        <div class="page-wrapper"><%= paginate @courses %></div>
      </div>
      <% end %>
    </div>
  
  </div>

  <div id="dashboard-right" class="span4">

    <div class="well">
      <a title="<%= t("course.all.new") %>" modal-type="course" prefix="/users/<%=current_user.id %>"
        data-target="#quick_form" data-toggle="modal" href="/ajax/form/courses/new" class="btn btn-primary">
        <i class="iconfa-plus icon-white"></i> <%= t("course.all.new") %>
      </a>
      <a href="#myModal" data-toggle="modal" class="btn btn-warning"><i class="iconfa-download-alt icon-white"></i> <%= t("course.all.export") %></a>
      <a href="<%= export_courses_path(format: 'csv', :export => "header") %>" data-toggle="modal" class="btn btn-warning"><i class="iconfa-download-alt icon-white"></i> <%= t("course.all.export_sample") %></a>
    </div>

    <h4 class="widgettitle"> <%= t("course.all.import_title") %></h4>
    <div class="widgetcontent">
      <%= form_tag import_courses_path, multipart: true do %>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-append">
          <div class="uneditable-input span2">
          <i class="iconfa-file fileupload-exists"></i>
          <span class="fileupload-preview"></span>
          </div>
          <span class="btn btn-file"><span class="fileupload-new"><%= t("course.all.select")%></span>
          <span class="fileupload-exists"><%= t("course.all.change") %></span>
          <input class="file optional" id="file" name="file" type="file" /></span>
          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload"><%= t("course.all.remove") %></a>
        </div>
      </div>
      <%= submit_tag t("course.all.import").html_safe, :class => "btn btn-primary submit-import" %>
      <% end %>
    </div>

    <h3 class="subtitle"><%= t("course.all.filter") %></h3>
    <div class="divider15"></div>
    <h4 class="widgettitle"> <%= t("course.all.filter") %></h4>
    <div class="widgetcontent">
      <%= form_tag admin_manage_course_path, :method => 'get' do %>
        <div>
          <%= label_tag :teacher_id, t("course.all.teacher") %>
          <%= collection_select(nil, :teacher_id, User.teacher, :id, :name, {:include_blank => '请选择'}) %>
        </div>
        <div>
          <%= label_tag :position_id, t("course.all.position") %>
          <%= collection_select(nil, :position_id, Position.all, :id, :name, {:include_blank => '请选择'}) %>
        </div>
          <%= submit_tag t("course.all.filter_condition").html_safe, :class => "btn btn-primary" %>
          <%= link_to t("course.all.clear_filter"),  admin_manage_course_path %>
      <% end %>
    </div>
  </div>
</div> <!--row-fluid-->
