<% provide(:title,  t('dashboard.page.title')) %>
<% provide(:page_title, t('dashboard.page.title')) %>
<% provide(:page_sub_title, t('dashboard.page.sub_title')) %>
<% provide(:page_icon, "iconfa-dashboard") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li,  t('dashboard.page.title')) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
$(function() {  
  $('.tabbedwidget').tabs();

  function hasEvent(day) {
    for(var i in canlenderEvent)
      if (canlenderEvent[i].day === day) {
        return [true, i];
      }
    return [false];
  }
  var currDate = $.datepicker.formatDate('mm-dd', new Date());
  var canlenderEvent = [{day:'2013-09-27',events:[{time:'09:30',title:'半年培训计划到期',desc:'半年度培训计划收集发聩到期。'}]}, 
      {day:'2013-09-18',events:[{time:'09:30',title:'课程：向军队学习执行力 开课',desc:'授课老师：段会农'},{time:'12:30',title:'项目管理考试截止',desc:'项目管理课程考试截止。'}]}];
  $('#datepicker').datepicker({
    onSelect: function(date, inst){
      inst.inline = false;
      $(".ui-datepicker-calendar .ui-datepicker-current-day").removeClass("ui-datepicker-current-day").children().removeClass("ui-state-active");
      $(".ui-datepicker-calendar TBODY A").each(function(){
        if ($(this).text() == inst.selectedDay) {
          $(this).addClass("ui-state-active");
          $(this).parent().addClass("ui-datepicker-current-day");
          // var a = '<div class="calendar_list"><ul id="list" class="unstyled"><li class="low"><div class="time">09:50</div><h1>Event 3</h1><div class="clear"></div><p style="display: none;">Description 3</p></li></ul></div>';
          // if('undefined' == typeof $('#datepicker ~ #date-event').html()) {
          //   $('#datepicker').after(a);
          // }
          var day = date.split("|");
          console.log(day);
          var content = '<ul id="list" class="unstyled">';
          // var dateObject = $.datepicker.parseDate("mm/dd/yy", date);
          // var bindDate = $.datepicker.formatDate('mm-dd', dateObject);
          var result = hasEvent(day[0]);
          if (result[0]) {
            for(var i in canlenderEvent[result[1]].events) {
              // $("#list li .time").text(canlenderEvent[result[1]].events[i].time);
              // $("#list li h1").text(canlenderEvent[result[1]].events[i].title);
              // $("#list li p").text(canlenderEvent[result[1]].events[i].desc);
              content += '<li class="low" onclick="$(this).children(\'p\').toggleClass(\'show\');"><div class="time">' + 
                  canlenderEvent[result[1]].events[i].time + '</div><h1>' +
                  canlenderEvent[result[1]].events[i].title + '</h1><p class="clear">' +
                  canlenderEvent[result[1]].events[i].desc +'</p></li>';
            }        
          } else {
            // $("#list li .time").text("00:00");
            // $("#list li h1").text("no event");
            // $("#list li p").text("");
            content += '无计划事件。';
          }
          content += '</ul>';
          $("#list").replaceWith(content);
          $(".calendar_list .title").text(day[1]);
        }
      });
      // $("#list").html("");
      console.log("onSelect: currDate",$.datepicker.formatDate('yy-mm-dd|yy年mm月dd日 DD', new Date()));
      console.log("onSelect",$.datepicker.parseDate("yy-mm-dd|yy年m月d日 DD", date));      
    },
    beforeShowDay: function(date){  
      var currDateClass = '';
      var bindDate = $.datepicker.formatDate('yy-mm-dd', date);
      // console.log('beforeShowDay',bindDate);
      if(hasEvent(bindDate)[0]) {
        currDateClass += 'has-info-event';
      }
      return [true, currDateClass, ''];
    },

  });
  var data = [{ label: "助理",  data: 12},
    { label: "经理",  data: 12},
    { label: "高级经理",  data: 9},
    { label: "资深经理",  data: 7}];
  $.plot($('#competency'), data, {
    series: {
      pie: { 
        innerRadius: 0.5,
        show: true,
        label: {
          show: false
        }
      }
    },
    grid: {
      // clickable: true,
      hoverable: true
    },
    legend: {
      show: false
      //container: null
      //noColumns: 1, 
      //labelFormatter: null, 
      //labelBoxBorderColor: "#000", 
      //container: null,
      //position: "ne",
      //margin: [10, 0],
      //backgroundColor: "#efefef",
      //backgroundOpacity: 1
      //noColumns: 1
    }
  });
  var previousPoint = null, previousLabel = null;
  $('#competency').bind("plothover", function(e, pos, item) {    
    if (item) {  
      if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {  
        previousPoint = item.dataIndex;  
        previousLabel = item.series.label;  
        $("#tooltip").remove();  
            
        var x = item.datapoint[0];  
        var y = item.datapoint[1];  

        var color = item.series.color;  
        //console.log(item);  
        showTooltip(pos.pageX,  
            pos.pageY,  
            color,  
            "<span>" + item.series.label + "</span>: <span>" + item.datapoint[1][0][1] + "</span>人");  
      }  
    } else {  
      $("#tooltip").remove();  
      previousPoint = null;  
    }
  });
  function showTooltip(x, y, color, contents) {  
    $('<div id="tooltip">' + contents + '</div>').css({  
      'position': 'absolute',  
      'display': 'none',  
      'top': y - 5,  
      'left': x + 5,  
      'border': '1px solid ' + color, 
      'color': '#FFF',
      'padding': '1px',  
      'font-size': '9px',  
      // 'border-radius': '2px',  
      'background-color': '#000',  
      'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',  
      'opacity': 0.6  
    }).appendTo("body").fadeIn(200);  
  }
  $('.chart0').easyPieChart({
    size: 64,
    lineCap: 'square',
    lineWidth: 5,
    scaleColor: '#b2b1b1',
    trackColor: '#d0d0d0',
    barColor: '#ef5f3c',
    animate: 1000
  });
  $('.chart1').easyPieChart({
    size: 64,
    lineCap: 'square',
    lineWidth: 5,
    scaleColor: '#b2b1b1',
    trackColor: '#d0d0d0',
    barColor: '#0099cc',
    animate: 1000
  });
  $('.accordion').accordion({
    collapsible: true,
    heightStyle: "content",
    header: ".a-header"
  });
  $('.inlinebar').sparkline('html',{
    enableTagOptions: true,
    width: 64,
    height: 54,
    barWidth: 5,
    barSpacing: 1,
    type: 'bar'
  });    
});
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
      <div class="row-fluid">
        <div class="span4">
          <!--h4 class="widgettitle"><span class="iconfa-check"></span>员工能力分布</h4-->
          <div class="widgetcontent2 chart" onClick="location.href='/admin/manage_users'">
            <div id="competency" class="competency pull-left"></div>    
            <div class="media-body">
              <h3 class="media-heading">43</h3>
              <span>员工总数</span>
            </div>
          </div>
        </div>
        <div class="span4">
          <!--h4 class="widgettitle"><span class="iconfa-check"></span>当月和历史开课数</h4-->
          <div class="widgetcontent2 chart" onClick="location.href='/training_plans'">
            <div class="inlinebar competency pull-left" sparkBarColor="#ef5f3c"><!--1,12,22,11,12,13,14,25,7,4,18,8--></div>
            <div class="media-body">
              <h3 class="media-heading">23 / 527</h3>
              <span>当月开课/全年开课数</span>
            </div>
          </div>
        </div>
        <div class="span4">
          <!--h4 class="widgettitle"><span class="iconfa-check"></span>当月和历史参培人次</h4-->
          <div class="widgetcontent2 chart" onClick="location.href='/training_plans'">
            <div class="inlinebar competency pull-left" sparkBarColor="#0099cc"><!--9,12,2,1,22,3,14,5,32,12,11,19--></div>
            <div class="media-body">
              <h3 class="media-heading">57 / 1211</h3>
              <span>当月参培/全年参培人次</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <!--h4 class="widgettitle"><span class="iconfa-check"></span>线上和线下课程比例</h4-->
          <div class="widgetcontent2 chart" onClick="location.href='/admin/manage_course'">
            <div class="chart0 easyPieChart pull-left" data-percent="73">73%</div>
            <div class="media-body">
              <h3 class="media-heading">73%</h3>
              <span>线上课程比例</span>
            </div>
          </div>
        </div>
        <div class="span4">
          <!--h4 class="widgettitle"><span class="iconfa-check"></span>内部和外部讲师比例</h4-->
          <div class="widgetcontent2 chart" onClick="location.href='/admin/manage_users'">
            <div class="chart1 easyPieChart pull-left" data-percent="36">36%</div>
            <div class="media-body">
              <h3 class="media-heading">36%</h3>
              <span>内部讲师比例</span>
            </div>
          </div>
        </div>
        <div class="span4">
          <!--h4 class="widgettitle"><span class="iconfa-check"></span>知识社区信息数量</h4-->
          <div class="widgetcontent2 chart" onClick="location.href='/knowledge'">
            <!--i class="iconfa-comments pull-left"></i-->
            <div class="inlinebar competency pull-left" sparkType="line"><!--9,12,2,1,22,3,14,5,32,12,11,19--></div>
            <div class="media-body">
              <h3 class="media-heading">95</h3>
              <span>论坛总话题: 95328</span>
            </div>
          </div>
        </div>
    </div>
    <h4 class="widgettitle"><span class="iconfa-check"></span> 待办事项（<%= current_user.pending_todos.count %>）</h4>
    <% if current_user.pending_todos.count > 0 %>
    <div class="widgetcontent nopadding">
      <table class='table responsive todo-table'>
        <tbody>
          <% current_user.pending_todos.each do |todo| %>
          <tr>
            <td><%= todo_type(todo) %></td>
            <td><%= todo_description(todo) %></td>
            <td><%= todo_deadline(todo) %></td>
            <td class='center'><span class='todo_action'><%= link_to "点击处理", todo_url(todo), :class => 'btn btn-primary btn-small' %></span></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
    <div class="widgetcontent">
      目前没有待处理的事项。
    </div>
    <% end %>
    <div class="divider15"></div>

    <% unless @tps.count %>
    <h4 class="widgettitle"><span class="iconfa-check"></span> 项目进度跟踪（<%= @tps.count %>）</h4>
    <div class="widgetcontent">
      目前没有跟踪的项目
    </div>  
    <% end %>

    <% if @tps.count %>
    <div class='tabbedwidget tab-primary'>
      <ul>
        <li><a href='#tab-tps'>培训计划（<%= @tps.count %>）</a></li>
      </ul>

      <div class='nopadding' id='tab-tps'>
        <ul class="tp-list">
        <% @tps.each do |tp| %>
        <li>
          <% if tp.state == 'pending_publish' %>
          <a href="<%= publish_training_plan_path(tp) %>" class="btn btn-warning btn-small pull-right">发布计划</a>
          <% end %>
          <div class='tp-header'>
          [培训计划] <%= link_to tp.title, training_plan_path(tp) %>
          <span class="deadline"> 反馈截止日期：<%= tp.feedback_deadline %></span>
          </div>
          <span>
            <span class="label label-info" ><%= training_plan_state(tp) %></span> &middot;
            计划参培人员（<%= tp.users.count %>） &middot;
            培训课程（<%= tp.required_courses.count + tp.optional_courses.count %>）
            <% if tp.state == 'pending_feedback' %>
             &middot; 反馈进度（<%= tp.feedbacks.count.to_s + '/' + tp.users.count.to_s %>）
            <% end %>
          </span>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>

  </div> <!--span8-->

  <div id="dashboard-right" class="span4">
    <div class="row-fluid">
      <ul class="shortcuts2">
          <li class="events">
              <a title="创建新用户" modal-type="user" data-toggle="modal" 
                      data-target="#quick_form" href="/ajax/form/users/new">
                  <span class="shortcuts-icon iconfa-user"></span>
                  <span class="shortcuts-label">创建用户</span>
              </a>
          </li>
          <li class="products">
              <a title="创建新课程" modal-type="course" prefix="/users/<%=current_user.id %>"
                      data-target="#quick_form" data-toggle="modal" href="/ajax/form/courses/new">
                  <span class="shortcuts-icon iconfa-book"></span>
                  <span class="shortcuts-label">创建课程</span>
              </a>
          </li>
          <li class="archive">
              <a title="创建新培训计划" modal-type="training_plan" data-target="#quick_form" 
                      data-toggle="modal" href="/ajax/form/training_plans/new">
                  <span class="shortcuts-icon iconfa-plane"></span>
                  <span class="shortcuts-label">创建培训计划</span>
              </a>
          </li>
          <li class="help">
              <a title="创建新考试" modal-type="examination" data-target="#quick_form" 
                      data-toggle="modal" href="/ajax/form/examinations/new">
                  <span class="shortcuts-icon iconfa-pencil"></span>
                  <span class="shortcuts-label">创建考试</span>
              </a>
          </li>
      </ul>
      <!--span class="span4 btn btn-primary" modal-label="创建新用户" modal-type="user"
          data-target="#quick_form" data-toggle="modal" href="/ajax/form/users/new">
        <i class="iconfa-user"></i>&nbsp;创建用户
      </span>
      <span class="span4 btn btn-primary" modal-label="创建新课程" modal-type="course" prefix="/users/<%=current_user.id %>"
          data-target="#quick_form" data-toggle="modal" href="/ajax/form/courses/new">
        <i class="iconfa-book"></i>&nbsp;创建课程
      </span>
      <span class="span4 btn btn-primary" modal-label="创建新培训计划" modal-type="training_plan"
          data-target="#quick_form" data-toggle="modal" href="/ajax/form/training_plans/new">
        <i class="iconfa-plane"></i>&nbsp;培训计划
      </span>
    </div>
    <div class="row-fluid">
      <span class="span4 btn btn-primary" modal-label="创建新考试" modal-type="examination"
          data-target="#quick_form" data-toggle="modal" href="/ajax/form/examinations/new">
        <i class="iconfa-pencil"></i>&nbsp;创建考试
      </span>
      <span class="span4 btn btn-primary">
        <i class="iconfa-sitemap"></i>&nbsp;创建职位
      </span>
      <span class="span4 btn btn-primary">
        <i class="iconfa-question-sign"></i>&nbsp;还没想好
      </span-->
    </div>
    <div class="divider15"></div>
    <div class="widgetcontent2 nopadding">
      <div id="datepicker"></div>
      <div class="calendar_list">
        <div class="title"><%= l Time.zone.now, :format => '%Y年%m月%d日 %A'%></div>
        <ul id="list" class="unstyled">
          <li class="low" onclick="$(this).children('p').toggleClass('show');">
            <div class="time">09:50</div>
            <h1>课程：国学思想与人生智慧 开课</h1>
            <p class="clear">
            授课老师：刘文红
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="divider15"></div>

    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-group"></span><%= t('dashboard.user.sub_title') %><span class="pull-right"><%= link_to (t('dashboard.common.sub_title1') +  "&#8594;").html_safe, admin_manage_users_path %></span></h4>
    </div>
      <% if @users.size == 0 %>
      <div class="widgetcontent">
        <p>没有用户资料。</p>
      </div>
      <% else %>
      <div class="widgetcontent nopadding">
        <ul class="userlist">
          <% @users.each do |u| %>
          <li>
              <%= image_tag user_avatar_path(u, :normal), :class => "pull-left" %>
              <div class="uinfo">
                <h5><%= link_to u.name, user_path(u) %></h5>
                <span class="pos"><%= u.position.name if u.position %></span>
                <span><%= t('dashboard.common.create') + distance_of_time_in_words_to_now(u.created_at) + t('dashboard.common.ago')  %></span>
              </div>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div> <!--row-fluid-->
<div id="quick_form">  
</div>
