<% provide(:title, t("position.page.title")) %>
<% provide(:page_title, t("position.page.title")) %>
<% provide(:page_sub_title, t("position.page.sub_title")) %>
<% provide(:page_icon, "iconfa-reorder") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, t("position.page.title")) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">

    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-reorder"></span> <%= t("position.all.title") %></h4>
      </div>
      <% if @positions.size == 0 %>
      <div class="widgetcontent">
        <p>No Competency Model setup yet. please setup it first. </p>
      </div>
      <% else %>
      <table class="table table-bordered responsive">
        <thead>
          <tr>
            <th class="center"><%= t("position.all.action") %></th>
            <th class="center"><%= t("position.all.name") %></th>
            <th class="center"><%= t("position.all.description") %></th>
            <th class="center"><%= t("position.all.relate_competency") %></th>
            <th class="center"><%= t("position.all.relate_couse") %></th>
          </tr>
        </thead>
        <tbody>
          <% @positions.each do |p| %>
          <tr>
            <td class="center">
              <%= link_to t("position.all.delete"), "#myModal", {:class => "btn btn-danger disabled", "data-toggle" => "modal"} %>
              <%= link_to t("position.all.edit"), "#myModal", {:class => "btn btn-primary", "data-toggle" => "modal"} %>
            </td>
            <td class="center"><%= p.name %></td>
            <td class="center"><%= p.description %></td>
            <td class="" id="related-competency-level">
              <ul>
                <% p.competency_levels.each do |cl| %>
                <li><%= cl.competency.name + "（" + level_name(cl.level) + "）" %></li>
                <% end %>
              </ul>
            </td>
            <td class="" id="related-course">
              <ul>
                <% p.competency_levels.each do |cl| %>
                  <% cl.courses.each do |c| %>
                  <li><%= link_to c.title, course_path(c) %></li>
                  <% end %>
                <% end %>
              </ul>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>

  </div>

  <div id="dashboard-right" class="span4">

    <div class="well">
      <a href="#myModal" data-toggle="modal" class="btn btn-primary disabled"><i class="iconfa-plus icon-white"></i><%= t("position.all.create")%></a>
      <a href="#myModal" data-toggle="modal" class="btn btn-warning"><i class="iconfa-download-alt icon-white"></i> <%= t("position.all.export")%></a>
    </div>

    <h4 class="widgettitle"><%= t("position.all.import") %></h4>
    <div class="widgetcontent">
      <%= form_tag import_positions_path, multipart: true do %>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-append">
          <div class="uneditable-input span2">
          <i class="iconfa-file fileupload-exists"></i>
          <span class="fileupload-preview"></span>
          </div>
          <span class="btn btn-file"><span class="fileupload-new"><%= t("position.all.select") %></span>
          <span class="fileupload-exists"><%= t("position.all.change") %></span>
          <input class="file optional" id="file" name="file" type="file" /></span>
          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload"><%= t("position.all.remove") %></a>
        </div>
      </div>
      <%= submit_tag t("position.all.import").html_safe, :class => "btn btn-primary submit-import" %>
      <% end %>
    </div>
  </div>
</div> <!--row-fluid-->
