<% provide(:title, "user management") %>
<% provide(:page_title, "User Management") %>
<% provide(:page_sub_title, "manage user records") %>
<% provide(:page_icon, "iconfa-group") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, "User Management") %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span9">
    <h3 class="subtitle">All Users</h3>
    <div class="divider15"></div>
    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-group"></span> All Users</h4>
      </div>
      <% if @users.size == 0 %>
      <div class="widgetcontent">
        <p>No Competency Model setup yet. please setup it first. </p>
      </div>
      <% else %>
      <table class="table table-bordered responsive">
        <thead>
          <tr>
            <th class="center">Action</th>
            <th class="center">Name</th>
            <th class="center">Staff ID</th>
            <th class="center">Email</th>
            <th class="center">Telephone</th>
            <th class="center">Mobile</th>
            <th class="center">Manager</th>
            <th class="center">Department</th>
            <th class="center">Dept Level</th>
            <th class="center">Title</th>
            <th class="center">Eroll Date</th>
            <th class="center">Birthday</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
          <tr>
            <td class="center">
              <%= link_to "Delete", "#", {:class => "btn btn-danger disabled"} %>
              <%= link_to "Edit", edit_user_path(u), {:class => "btn btn-primary"} %>
            </td>
            <td class="center"><%= link_to u.name, user_path(u) %></td>
            <td class="center"><%= u.staff_id %></td>
            <td class="center"><%= u.email %></td>
            <td class="center"><%= u.phone_num %></td>
            <td class="center"><%= u.mobile_phone %></td>
            <td class="center"><%= link_to(u.manager.name, user_path(u.manager)) if u.manager %></td>
            <td class="center"><%= u.department %></td>
            <td class="center"><%= u.department_level %></td>
            <td class="center"><%= u.position.name if u.position %></td>
            <td class="center"><%= u.joined_at %></td>
            <td class="center"><%= u.birthday %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>

  <div id="dashboard-right" class="span3">
    <h3 class="subtitle">Manage Users</h3>
    <div class="divider15"></div>

    <div class="well">
      <a href="<%= new_user_path %>" class="btn btn-primary"><i class="iconfa-plus icon-white"></i> Create New User</a>
      <a href="<%= export_users_path(format: "csv") %>" class="btn btn-warning"><i class="iconfa-download-alt icon-white"></i> Export As CSV</a>
    </div>

    <div class="well">
      <%= form_tag import_users_path, :multipart => true do %>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-append">
          <div class="uneditable-input span2">
          <i class="iconfa-file fileupload-exists"></i>
          <span class="fileupload-preview"></span>
          </div>
          <span class="btn btn-file"><span class="fileupload-new">Select file</span>
          <span class="fileupload-exists">Change</span>
          <input class="file optional" id="file" name="file" type="file" /></span>
          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
        </div>
      </div>
      <%= submit_tag "Import User".html_safe, :class => "btn btn-primary submit-import-test" %>
      <% end %>
    </div>
    
  </div>
  
</div> <!--row-fluid-->