<% provide(:title, t('users.page.title')) %>
<% provide(:page_title, t('users.page.title')) %>
<% provide(:page_sub_title, t('users.page.sub_title')) %>
<% provide(:page_icon, "iconfa-group") %>

<% content_for :breadcrumbs do %>
<%= content_tag(:li, t('users.page.title')) %>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
</script>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h3 class="subtitle"><%= t('users.all.title') %></h3>
    <div class="divider15"></div>
    <div class="widgetbox">
      <div class="headtitle">
        <h4 class="widgettitle"><span class="iconfa-group"></span> <%= t('users.all.title') %></h4>
      </div>
      <% if @users.size == 0 %>
      <div class="widgetcontent">
        <p>No Competency Model setup yet. please setup it first. </p>
      </div>
      <% else %>
      <table class="table table-bordered responsive">
        <thead>
          <tr>
            <th class="center"><%= t('users.all.action') %></th>
            <th class="center"><%= t('users.all.name') %></th>
            <th class="center"><%= t('users.all.staff_id') %></th>
            <th class="center"><%= t('users.all.department')%></th>
            <th class="center"><%= t('users.all.position') %></th>
            <th class="center"><%= t('users.all.enroll')%></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
          <tr>
            <td class="center">
              <%= link_to "编辑", edit_user_path(u), {:class => "btn btn-primary"} %>
            </td>
            <td class="center"><%= link_to u.name, user_path(u) %></td>
            <td class="center"><%= u.staff_id %></td>
            <td class="center"><%= u.department %></td>
            <td class="center"><%= u.position.name if u.position %></td>
            <td class="center"><%= u.joined_at %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="page-wrapper"><%= paginate @users if @users %></div>
      <% end %>
    </div>
  </div>

  <div id="dashboard-right" class="span4">
    <h3 class="subtitle"><%= t('users.all.manage') %></h3>
    <div class="divider15"></div>

    <div class="well">
      <a href="<%= new_user_path %>" class="btn btn-primary"><i class="iconfa-plus icon-white"></i><%= t('users.all.create')%></a>
      <a href="#myModal" data-toggle="modal" class="btn btn-warning"><i class="iconfa-download-alt icon-white"></i> <%= t('users.all.export') %></a>
    </div>

    <div class="well">
      <%= form_tag import_users_path, :multipart => true do %>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="input-append">
          <div class="uneditable-input span2">
          <i class="iconfa-file fileupload-exists"></i>
          <span class="fileupload-preview"></span>
          </div>
          <span class="btn btn-file"><span class="fileupload-new"><%= t("users.all.select") %></span>
          <span class="fileupload-exists"><%= t('users.all.change')%></span>
          <input class="file optional" id="file" name="file" type="file" /></span>
          <a href="#" class="btn fileupload-exists" data-dismiss="fileupload"><%= t('users.all.remove') %></a>
        </div>
      </div>
      <%= submit_tag t('users.all.import').html_safe, :class => "btn btn-primary" %>
      <% end %>
    </div>
    
  </div>
  
</div> <!--row-fluid-->