<% provide(:title, "修改考试信息") %>
<% provide(:page_title, "修改考试信息") %>
<% provide(:page_sub_title, "修改考试信息") %>
<% provide(:page_icon, "iconfa-edit") %>

<% content_for :breadcrumbs do %>
<li><%= link_to "考试管理", examinations_path %> <span class="separator"></span></li>
<%= content_tag(:li, "修改考试信息") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h4 class="widgettitle">修改考试信息</h4>
    <div class="widgetcontent">
      <div class="divider15"></div>
      <%= simple_form_for(@exam, :html => {:class => 'form-horizontal'}) do |f| %>
        <%= f.input :title, :label => "考试标题：", :input_html => { :class => "span5" } %>
        <%= f.input :published_at, :label => "考试日期:", :as => :date,
        :start_year => Date.today.year,
        :end_year => Date.today.year + 10,
        :order => [:year, :month, :day]
        %>
        <%= f.input :deadline, :label => "截止日期:", :as => :date,
        :start_year => Date.today.year,
        :end_year => Date.today.year + 10,
        :order => [:year, :month, :day]
        %>
        <% if @exam.course_class %>
        <%= f.association :users, :collection => @exam.course_class.students, :label => "参考人员:" %>
        <% else %>
        <%= f.association :users, :collection => User.staff, :label => "参考人员:" %>
        <% end %>
        <div class="form-actions">
        <%= f.button :submit, '更新考试信息', :class => "btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
    
  </div>
</div>