<% provide(:title, "创建新考试") %>
<% provide(:page_title, "创建新考试") %>
<% provide(:page_sub_title, "创建新考试") %>
<% provide(:page_icon, "iconfa-edit") %>

<% content_for :breadcrumbs do %>
<li><%= link_to "考试管理", examinations_path %> <span class="separator"></span></li>
<%= content_tag(:li, "创建新考试") %>
<% end %>

<% content_for :javascript do %>

<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <h4 class="widgettitle">创建新考试</h4>
    <div class="widgetcontent">
      <div class="divider15"></div>
      <%= simple_form_for(@exam, :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>
        <%= f.input :title, :label => "考试标题:", :input_html => { :class => "span5" } %>
        <%= f.input :published_at, :label => "考试日期:", :as => :date,
        :start_year => Date.today.year,
        :end_year => Date.today.year + 10,
        :order => [:year, :month, :day]
        %>
        <%= f.input :deadline, :label => "截止日期:", :as => :date,
        :start_year => Date.today.year,
        :end_year => Date.today.year + 10,
        :order => [:year, :month, :day]
        %>
        <%= f.association :users, :collection => User.staff, :label => "参考人员" %>
        <%= f.hidden_field :creator_id, :value => current_user.id %>
        <div class="form-actions">
        <%= f.button :submit, '创建考试', :class => "btn-primary"  %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="dashboard-right" class="span4">
    
  </div>
</div>
