<!DOCTYPE html>
<html>
<head>
  <title>Evolve &ndash; <%= yield(:title) %></title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="mainwrapper">
  <%= render :partial =>'shared/header' %>
  
  <div class="leftpanel">
    <%= render :partial => 'shared/leftmenu' %>
  </div>

  <div class="rightpanel">
    <%= render :partial => "shared/flash_messages", :locals => {:flash => flash} %>
    <%= yield %>
  </div>

</div>

<%= javascript_include_tag "application" %> 
<%= yield :javascript %> 

</body>
</html>
